USE [MKBBIStage]
GO
/****** Object:  StoredProcedure [dbo].[LoadDimAnställdSCD2]    Script Date: 2025-09-11 16:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LoadDimAnställdSCD2]
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    /* 0) Säkerställ mål-tabellen i MKBBIDW och kolumnen Befattning */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[dim].[AnställdSCD2]'', N''U'') IS NULL
BEGIN
  CREATE TABLE [dim].[AnställdSCD2](
    [AnstNr]           INT           NOT NULL,
    [AnställdSk]       BIGINT        NOT NULL,
    [Kostnadsställe]   INT           NULL,
    [Anställningsform] NVARCHAR(100) NULL,
    [Befattning]       NVARCHAR(200) NULL,
    [Tilltrade]        DATE          NOT NULL,
    [TilltradeTom]     DATE          NOT NULL
  );
END;
IF COL_LENGTH(N''[dim].[AnställdSCD2]'', N''Befattning'') IS NULL
  ALTER TABLE [dim].[AnställdSCD2] ADD [Befattning] NVARCHAR(200) NULL;

IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID(N''[dim].[AnställdSCD2]'') AND name = N''IX_AnställdSCD2_Lookups'')
  DROP INDEX [IX_AnställdSCD2_Lookups] ON [dim].[AnställdSCD2];
CREATE NONCLUSTERED INDEX [IX_AnställdSCD2_Lookups]
  ON [dim].[AnställdSCD2]([AnstNr],[Tilltrade])
  INCLUDE([TilltradeTom],[Anställningsform],[Kostnadsställe],[Befattning]);
';

    /* 1) Töm mål */
    BEGIN TRY
      EXEC [MKBBIDW].sys.sp_executesql N'TRUNCATE TABLE [dim].[AnställdSCD2];';
    END TRY
    BEGIN CATCH
      EXEC [MKBBIDW].sys.sp_executesql N'DELETE FROM [dim].[AnställdSCD2];';
    END CATCH;

    /* 2) Kör SCD2-bygg + INSERT som dynamisk SQL i MKBBIDW (stage-only källor via trepartsnamn) */
    DECLARE @sql NVARCHAR(MAX) = N'
;WITH
EmploymentPeriods AS (
  SELECT ANST_NR, TILLTRADE,
         COALESCE(TILLTRADETOM, CONVERT(date,''9999-12-31'')) AS TILLTRADETOM,
         ANSTALLNINGSFORM
  FROM [MKBBIStage].[Agda].[Anställningsform]
),
CostCenterChanges AS (
  SELECT ANST_NR,
         KONTERINGFRANTID AS ChangeDate,
         COALESCE(KONTERINGTOMTID, CONVERT(date,''9999-12-31'')) AS ChangeEnd,
         DATA AS KostnadsStälle
  FROM [MKBBIStage].[Agda].[Konteringar]
  WHERE KONTERING = N''Kostnadsställe''
),
Positions_Base AS (
  SELECT
    CAST(B.ANST_NR AS INT)              AS ANST_NR,
    CAST(B.BEFATTNING AS NVARCHAR(200)) AS Befattning,
    CAST(COALESCE(B.BEFATTNINGFOMDATUM, B.BEFATTNINGFOMDATUM, B.BEFATTNINGTOMDATUM) AS DATE) AS StartDt,
    CAST(COALESCE(B.BEFATTNINGTOMDATUM, B.BEFATTNINGTOMDATUM, CONVERT(date,''9999-12-31'')) AS DATE) AS EndDt
  FROM [MKBBIStage].[Agda].[Befattningar] B
  WHERE B.BEFATTNING IS NOT NULL
),
Positions_Clean AS (
  SELECT * FROM Positions_Base
  WHERE StartDt IS NOT NULL AND StartDt <= EndDt
),
OverlapBase AS (
  SELECT p.*,
         MAX(p.EndDt) OVER (PARTITION BY p.ANST_NR ORDER BY p.StartDt, p.Befattning ROWS UNBOUNDED PRECEDING) AS RunMaxEnd
  FROM Positions_Clean p
),
OverlapGroups AS (
  SELECT o.*,
         LAG(o.RunMaxEnd) OVER (PARTITION BY o.ANST_NR ORDER BY o.StartDt, o.Befattning) AS PrevRunMaxEnd,
         CASE WHEN o.StartDt > ISNULL(LAG(o.RunMaxEnd) OVER (PARTITION BY o.ANST_NR ORDER BY o.StartDt, o.Befattning), CONVERT(date,''1900-01-01'')) THEN 1 ELSE 0 END AS NewIslandFlag
  FROM OverlapBase o
),
Islands AS (
  SELECT g.*,
         SUM(g.NewIslandFlag) OVER (PARTITION BY g.ANST_NR ORDER BY g.StartDt, g.Befattning ROWS UNBOUNDED PRECEDING) AS IslandId
  FROM OverlapGroups g
),
Winners AS (
  SELECT * FROM (
    SELECT i.*,
           ROW_NUMBER() OVER (PARTITION BY i.ANST_NR, i.IslandId ORDER BY i.StartDt DESC, i.EndDt DESC, i.Befattning DESC) AS rn
    FROM Islands i
  ) x WHERE rn = 1
),
Deoverlapped AS (
  SELECT i.ANST_NR, i.Befattning, i.StartDt,
         CASE WHEN i.StartDt = w.StartDt AND i.EndDt = w.EndDt AND i.Befattning = w.Befattning
              THEN i.EndDt
              ELSE CASE WHEN i.EndDt <= DATEADD(DAY,-1, w.StartDt) THEN i.EndDt ELSE DATEADD(DAY,-1, w.StartDt) END
         END AS EndDt_Adj
  FROM Islands i
  INNER JOIN Winners w ON w.ANST_NR = i.ANST_NR AND w.IslandId = i.IslandId
),
Deoverlapped_Valid AS (
  SELECT * FROM Deoverlapped WHERE StartDt <= EndDt_Adj
),
Trimmed AS (
  SELECT d.ANST_NR, d.Befattning, d.StartDt,
         CASE WHEN LEAD(d.StartDt) OVER (PARTITION BY d.ANST_NR ORDER BY d.StartDt, d.Befattning) IS NULL
              THEN d.EndDt_Adj
              ELSE CASE WHEN d.EndDt_Adj < DATEADD(DAY,-1, LEAD(d.StartDt) OVER (PARTITION BY d.ANST_NR ORDER BY d.StartDt, d.Befattning))
                        THEN d.EndDt_Adj ELSE DATEADD(DAY,-1, LEAD(d.StartDt) OVER (PARTITION BY d.ANST_NR ORDER BY d.StartDt, d.Befattning)) END
         END AS EndDt_Final
  FROM Deoverlapped_Valid d
),
Positions_Final AS (
  SELECT * FROM Trimmed WHERE StartDt <= EndDt_Final
),
AllChangePoints AS (
  SELECT ANST_NR, TILLTRADE AS ChangeDate FROM EmploymentPeriods
  UNION ALL
  SELECT ANST_NR, CASE WHEN TILLTRADETOM < CONVERT(date,''9999-12-31'') THEN DATEADD(DAY,1, TILLTRADETOM) ELSE CONVERT(date,''9999-12-31'') END FROM EmploymentPeriods
  UNION ALL
  SELECT ANST_NR, ChangeDate FROM CostCenterChanges
  UNION ALL
  SELECT ANST_NR, CASE WHEN ChangeEnd < CONVERT(date,''9999-12-31'') THEN DATEADD(DAY,1, ChangeEnd) ELSE CONVERT(date,''9999-12-31'') END FROM CostCenterChanges
  UNION ALL
  SELECT ANST_NR, StartDt FROM Positions_Final
  UNION ALL
  SELECT ANST_NR, CASE WHEN EndDt_Final < CONVERT(date,''9999-12-31'') THEN DATEADD(DAY,1, EndDt_Final) ELSE CONVERT(date,''9999-12-31'') END FROM Positions_Final
),
RankedPoints AS (
  SELECT acp.ANST_NR, acp.ChangeDate,
         LEAD(acp.ChangeDate) OVER (PARTITION BY acp.ANST_NR ORDER BY acp.ChangeDate) AS NextDate
  FROM (SELECT DISTINCT ANST_NR, ChangeDate FROM AllChangePoints) acp
),
ValidSlices AS (
  SELECT rp.ANST_NR,
         rp.ChangeDate AS TILLTRADE,
         DATEADD(DAY,-1, rp.NextDate) AS TILLTRADETOM
  FROM RankedPoints rp
  WHERE rp.NextDate IS NOT NULL
),
AddAttributes AS (
  SELECT s.ANST_NR,
         s.TILLTRADE,
         CASE WHEN s.TILLTRADETOM > e.TILLTRADETOM THEN e.TILLTRADETOM ELSE s.TILLTRADETOM END AS TILLTRADETOM,
         e.ANSTALLNINGSFORM,
         k.KostnadsStälle,
         p.Befattning
  FROM ValidSlices s
  INNER JOIN EmploymentPeriods e
    ON s.ANST_NR = e.ANST_NR
   AND s.TILLTRADE BETWEEN e.TILLTRADE AND e.TILLTRADETOM
  LEFT JOIN CostCenterChanges k
    ON s.ANST_NR = k.ANST_NR
   AND s.TILLTRADE BETWEEN k.ChangeDate AND k.ChangeEnd
  LEFT JOIN Positions_Final p
    ON s.ANST_NR = p.ANST_NR
   AND s.TILLTRADE BETWEEN p.StartDt AND p.EndDt_Final
),
WithLags AS (
  SELECT a.*,
         LAG(a.ANSTALLNINGSFORM) OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevForm,
         LAG(a.KostnadsStälle)   OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevKst,
         LAG(a.TILLTRADETOM)     OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevEnd,
         LAG(a.Befattning)       OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevBef
  FROM AddAttributes a
),
CollapsedSCD2 AS (
  SELECT
    ANST_NR,
    MIN(TILLTRADE)                    AS TILLTRADE,
    MAX(CAST(TILLTRADETOM AS DATE))   AS TILLTRADETOM,
    MAX(ANSTALLNINGSFORM)             AS ANSTALLNINGSFORM,
    MAX(KostnadsStälle)               AS KostnadsStälle,
    MAX(Befattning)                   AS Befattning
  FROM (
    SELECT w.*,
           SUM(CASE 
                 WHEN ISNULL(w.PrevForm, N''§'') <> ISNULL(w.ANSTALLNINGSFORM, N''§'')
                   OR ISNULL(w.PrevKst,  N''§'') <> ISNULL(w.KostnadsStälle,  N''§'')
                   OR ISNULL(w.PrevBef,  N''§'') <> ISNULL(w.Befattning,      N''§'')
                   OR w.PrevEnd IS NULL OR DATEDIFF(DAY, w.PrevEnd, w.TILLTRADE) > 1
                 THEN 1 ELSE 0 END
           ) OVER (PARTITION BY w.ANST_NR ORDER BY w.TILLTRADE ROWS UNBOUNDED PRECEDING) AS GroupId
    FROM WithLags w
  ) g
  GROUP BY ANST_NR, GroupId
),
FinalSCD2 AS (
  SELECT c.*,
         ROW_NUMBER() OVER (ORDER BY TRY_CAST(c.ANST_NR AS INT), c.TILLTRADE) AS [AnställdSK]
  FROM CollapsedSCD2 c
)
INSERT INTO [dim].[AnställdSCD2]([AnstNr],[AnställdSk],[Kostnadsställe],[Anställningsform],[Befattning],[Tilltrade],[TilltradeTom])
SELECT
  CAST([ANST_NR] AS INT)                    AS [AnstNr],
  CAST([AnställdSK] AS BIGINT)              AS [AnställdSk],
  TRY_CAST([KostnadsStälle] AS INT)         AS [Kostnadsställe],
  CAST([ANSTALLNINGSFORM] AS NVARCHAR(100)) AS [Anställningsform],
  CAST([Befattning] AS NVARCHAR(200))       AS [Befattning],
  CAST([TILLTRADE] AS DATE)                 AS [Tilltrade],
  CAST([TILLTRADETOM] AS DATE)              AS [TilltradeTom]
FROM FinalSCD2;
';

    EXEC [MKBBIDW].sys.sp_executesql @sql;

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(N'LoadDimAnställdSCD2 failed: %s', 16, 1, @Err);
  END CATCH
END
