USE [MKBBIStage]
GO
/****** Object:  StoredProcedure [dbo].[LoadFactFteFrånvaroJustering]    Script Date: 2025-09-03 13:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[LoadFactFteFrånvaroJustering]
    @MaxCalendarGapSJ  int = 5,   -- bryt SJ-kedja om glapp > 5 kalenderdagar (observerade SJ/SE-dagar)
    @MaxCalendarGapFL  int = 1,   -- bryt FL-kedja om glapp > 1 dag (endast FL/FLB; SE bryggar ej)
    @MaxCalendarGapTJ  int = 1,   -- bryt TJ-kedja om glapp > 1 dag (endast TJ; SE bryggar ej)
    @SickThresholdDays int = 14,  -- 14-dagarsregeln (kalenderdagar i SJ-kedjan)
    @YearMin           int = NULL -- t.ex. 2024 (NULL = ingen filtrering)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRAN;

        /* 0) Säkerställ mål-tabell i MKBBIDW (PascalCase + ordning) */
        EXEC [MKBBIDW].sys.sp_executesql N'
IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = N''fact'')
    EXEC(''CREATE SCHEMA [fact]'');

IF OBJECT_ID(N''[fact].[FteFrånvaroJustering]'', N''U'') IS NULL
BEGIN
    CREATE TABLE [fact].[FteFrånvaroJustering]
    (
        [AnställdsSk]                 BIGINT        NOT NULL,
        [AnstNr]                      NVARCHAR(50)  NOT NULL,
        [KostnadsStälle]              NVARCHAR(100) NULL,
        [AnställningsForm]            NVARCHAR(100) NULL,
        [Datum]                       DATE          NOT NULL,
        [SjukKod]                     NVARCHAR(10)  NOT NULL,
        [FrånvaroStart]               DATE          NOT NULL,
        [FrånvaroSlut]                DATE          NOT NULL,
        [FrånvaroAntalDagar]          INT           NOT NULL,
        [FrånvaroAntalObetaldaDagar]  INT           NOT NULL,
        [AntalDagarIMånad]            INT           NOT NULL
    );

    CREATE NONCLUSTERED INDEX [IX_FteFrånvaroJustering_Anst_Datum]
        ON [fact].[FteFrånvaroJustering]([AnstNr], [Datum]);
END
';

        /* 1) Töm mål (TRUNCATE→fallback DELETE om FK stoppar) */
        BEGIN TRY
            EXEC [MKBBIDW].sys.sp_executesql N'TRUNCATE TABLE [fact].[FteFrånvaroJustering];';
        END TRY
        BEGIN CATCH
            EXEC [MKBBIDW].sys.sp_executesql N'DELETE FROM [fact].[FteFrånvaroJustering];';
        END CATCH

        /* ===========================
           2) Expandera & kedja frånvaro
           =========================== */
        ;WITH UtbrutenFrånvaro AS (
            SELECT 
                F.Ftgnr,
                F.Anstnr,
                F.Fomdatum,
                F.Tomdatum,
                F.Kalenderdagar,
                F.Procent,
                F.[Timestamp],
                F.Kortkod,
                DATEADD(DAY, n.number, F.Fomdatum) AS FrånvaroDatum
            FROM [MKBBIStage].[Agda].[Frånvaro] F
            JOIN master.dbo.spt_values n
              ON n.type = 'P'
             AND n.number BETWEEN 0 AND DATEDIFF(DAY, F.Fomdatum, F.Tomdatum)
            WHERE F.Kortkod IN ('SJ','FL','FLB','TJ','SE')
        ),
        SenastePerDatum AS (
            SELECT *
            FROM (
                SELECT *,
                       ROW_NUMBER() OVER (
                           PARTITION BY Anstnr, FrånvaroDatum, Kortkod
                           ORDER BY [Timestamp] DESC
                       ) AS rn
                FROM UtbrutenFrånvaro
            ) t
            WHERE rn = 1
        ),

        /* SJ-kedja (SE bryggar, men slutar på sista SJ) */
        SJKedja AS (
            SELECT *,
                   LAG(FrånvaroDatum) OVER (PARTITION BY Anstnr ORDER BY FrånvaroDatum) AS PrevDatum
            FROM SenastePerDatum
            WHERE Kortkod IN ('SJ','SE')
        ),
        SJKedjaFlaggad AS (
            SELECT *,
                   DATEDIFF(DAY, PrevDatum, FrånvaroDatum) AS DagGap,
                   SUM(CASE
                         WHEN PrevDatum IS NULL
                           OR DATEDIFF(DAY, PrevDatum, FrånvaroDatum) > @MaxCalendarGapSJ
                         THEN 1 ELSE 0
                       END) OVER (PARTITION BY Anstnr ORDER BY FrånvaroDatum ROWS UNBOUNDED PRECEDING) AS GruppID
            FROM SJKedja
        ),
        SJBounds AS (
            SELECT
                Anstnr,
                GruppID,
                MIN(CASE WHEN Kortkod='SJ' THEN FrånvaroDatum END) AS PeriodStart_SJ,
                MAX(CASE WHEN Kortkod='SJ' THEN FrånvaroDatum END) AS PeriodEnd_SJ
            FROM SJKedjaFlaggad
            GROUP BY Anstnr, GruppID
        ),
        SJKedjaValida AS (
            SELECT * 
            FROM SJBounds 
            WHERE PeriodStart_SJ IS NOT NULL AND PeriodEnd_SJ IS NOT NULL
        ),
        SJKalender AS (
            SELECT
                b.Anstnr,
                b.GruppID,
                DATEADD(DAY, n.number, b.PeriodStart_SJ) AS KalDag,
                ROW_NUMBER() OVER (
                    PARTITION BY b.Anstnr, b.GruppID
                    ORDER BY DATEADD(DAY, n.number, b.PeriodStart_SJ)
                ) AS CalendarDayNr
            FROM SJKedjaValida b
            JOIN master.dbo.spt_values n
              ON n.type = 'P'
             AND n.number BETWEEN 0 AND DATEDIFF(DAY, b.PeriodStart_SJ, b.PeriodEnd_SJ)
        ),
        SJ_ObserveradeDagar AS (
            SELECT 
                s.Anstnr,
                s.FrånvaroDatum,
                ABS(s.Procent) AS Procent,
                'SJ' AS Kortkod,
                g.GruppID
            FROM SenastePerDatum s
            JOIN SJKedjaFlaggad g
              ON g.Anstnr = s.Anstnr
             AND g.FrånvaroDatum = s.FrånvaroDatum
            WHERE s.Kortkod = 'SJ'
        ),

        /* FL-kedja (SE bryggar inte) */
        FLKedja AS (
            SELECT *,
                   LAG(FrånvaroDatum) OVER (PARTITION BY Anstnr ORDER BY FrånvaroDatum) AS PrevDatum
            FROM SenastePerDatum
            WHERE Kortkod IN ('FL','FLB')
        ),
        FLKedjaFlaggad AS (
            SELECT *,
                   DATEDIFF(DAY, PrevDatum, FrånvaroDatum) AS DagGap,
                   SUM(CASE
                         WHEN PrevDatum IS NULL
                           OR DATEDIFF(DAY, PrevDatum, FrånvaroDatum) > @MaxCalendarGapFL
                         THEN 1 ELSE 0
                       END) OVER (PARTITION BY Anstnr ORDER BY FrånvaroDatum ROWS UNBOUNDED PRECEDING) AS GruppID
            FROM FLKedja
        ),
        FLBounds AS (
            SELECT
                Anstnr,
                GruppID,
                MIN(FrånvaroDatum) AS PeriodStart_FL,
                MAX(FrånvaroDatum) AS PeriodEnd_FL
            FROM FLKedjaFlaggad
            GROUP BY Anstnr, GruppID
        ),

        /* TJ-kedja (SE bryggar inte) */
        TJKedja AS (
            SELECT *,
                   LAG(FrånvaroDatum) OVER (PARTITION BY Anstnr ORDER BY FrånvaroDatum) AS PrevDatum
            FROM SenastePerDatum
            WHERE Kortkod = 'TJ'
        ),
        TJKedjaFlaggad AS (
            SELECT *,
                   DATEDIFF(DAY, PrevDatum, FrånvaroDatum) AS DagGap,
                   SUM(CASE
                         WHEN PrevDatum IS NULL
                           OR DATEDIFF(DAY, PrevDatum, FrånvaroDatum) > @MaxCalendarGapTJ
                         THEN 1 ELSE 0
                       END) OVER (PARTITION BY Anstnr ORDER BY FrånvaroDatum ROWS UNBOUNDED PRECEDING) AS GruppID
            FROM TJKedja
        ),
        TJBounds AS (
            SELECT
                Anstnr,
                GruppID,
                MIN(FrånvaroDatum) AS PeriodStart_TJ,
                MAX(FrånvaroDatum) AS PeriodEnd_TJ
            FROM TJKedjaFlaggad
            GROUP BY Anstnr, GruppID
        ),

        /* Månadsaggregering per kedja */
        PerManad_SJ AS (
            SELECT
                k.Anstnr,
                k.GruppID,
                'SJ' AS Kortkod,
                YEAR(k.KalDag)  AS År,
                MONTH(k.KalDag) AS Månad,
                MIN(b.PeriodStart_SJ) AS PeriodStart,
                MAX(b.PeriodEnd_SJ)   AS PeriodEnd,
                COUNT(DISTINCT k.KalDag) AS KalenderdagarDennaManad,
                AVG(CASE WHEN YEAR(s.FrånvaroDatum)=YEAR(k.KalDag) AND MONTH(s.FrånvaroDatum)=MONTH(k.KalDag)
                         THEN s.Procent END) AS GenomsnittligSysselsattningsgrad,
                COUNT(DISTINCT CASE WHEN k.CalendarDayNr > @SickThresholdDays THEN k.KalDag END) AS EjBetaldaDagarUtanProcent,
                CAST(COUNT(DISTINCT CASE WHEN k.CalendarDayNr > @SickThresholdDays THEN k.KalDag END) AS decimal(18,7)) AS EjBetaldaDagarDennaManad,
                DAY(EOMONTH(MIN(k.KalDag))) AS DagarIMånaden
            FROM SJKalender k
            JOIN SJKedjaValida b
              ON b.Anstnr = k.Anstnr AND b.GruppID = k.GruppID
            LEFT JOIN SJ_ObserveradeDagar s
              ON s.Anstnr = k.Anstnr AND s.GruppID = k.GruppID
            GROUP BY k.Anstnr, k.GruppID, YEAR(k.KalDag), MONTH(k.KalDag)
        ),
        FLKalender AS (
            SELECT
                b.Anstnr,
                b.GruppID,
                DATEADD(DAY, n.number, b.PeriodStart_FL) AS KalDag
            FROM FLBounds b
            JOIN master.dbo.spt_values n
              ON n.type = 'P'
             AND b.PeriodStart_FL IS NOT NULL
             AND n.number BETWEEN 0 AND DATEDIFF(DAY, b.PeriodStart_FL, b.PeriodEnd_FL)
        ),
        PerManad_FL AS (
            SELECT
                k.Anstnr,
                k.GruppID,
                'FL' AS Kortkod,
                YEAR(k.KalDag)  AS År,
                MONTH(k.KalDag) AS Månad,
                MIN(b.PeriodStart_FL) AS PeriodStart,
                MAX(b.PeriodEnd_FL)   AS PeriodEnd,
                COUNT(DISTINCT k.KalDag) AS KalenderdagarDennaManad,
                AVG(ABS(f.Procent)) AS GenomsnittligSysselsattningsgrad,
                COUNT(DISTINCT k.KalDag) AS EjBetaldaDagarUtanProcent,
                CAST(COUNT(DISTINCT k.KalDag) AS decimal(18,7)) AS EjBetaldaDagarDennaManad,
                DAY(EOMONTH(MIN(k.KalDag))) AS DagarIMånaden
            FROM FLKalender k
            JOIN FLBounds b ON b.Anstnr = k.Anstnr AND b.GruppID = k.GruppID
            LEFT JOIN SenastePerDatum f 
              ON f.Anstnr = k.Anstnr 
             AND f.FrånvaroDatum = k.KalDag 
             AND f.Kortkod IN ('FL','FLB')
            GROUP BY k.Anstnr, k.GruppID, YEAR(k.KalDag), MONTH(k.KalDag)
        ),
        TJKalender AS (
            SELECT
                b.Anstnr,
                b.GruppID,
                DATEADD(DAY, n.number, b.PeriodStart_TJ) AS KalDag
            FROM TJBounds b
            JOIN master.dbo.spt_values n
              ON n.type = 'P'
             AND b.PeriodStart_TJ IS NOT NULL
             AND n.number BETWEEN 0 AND DATEDIFF(DAY, b.PeriodStart_TJ, b.PeriodEnd_TJ)
        ),
        PerManad_TJ AS (
            SELECT
                k.Anstnr,
                k.GruppID,
                'TJ' AS Kortkod,
                YEAR(k.KalDag)  AS År,
                MONTH(k.KalDag) AS Månad,
                MIN(b.PeriodStart_TJ) AS PeriodStart,
                MAX(b.PeriodEnd_TJ)   AS PeriodEnd,
                COUNT(DISTINCT k.KalDag) AS KalenderdagarDennaManad,
                AVG(ABS(t.Procent)) AS GenomsnittligSysselsattningsgrad,
                COUNT(DISTINCT k.KalDag) AS EjBetaldaDagarUtanProcent,
                CAST(COUNT(DISTINCT k.KalDag) AS decimal(18,7)) AS EjBetaldaDagarDennaManad,
                DAY(EOMONTH(MIN(k.KalDag))) AS DagarIMånaden
            FROM TJKalender k
            JOIN TJBounds b ON b.Anstnr = k.Anstnr AND b.GruppID = k.GruppID
            LEFT JOIN SenastePerDatum t ON t.Anstnr = k.Anstnr AND t.FrånvaroDatum = k.KalDag AND t.Kortkod = 'TJ'
            GROUP BY k.Anstnr, k.GruppID, YEAR(k.KalDag), MONTH(k.KalDag)
        ),
        -- Slutresultat per månad & kedja
        SlutAgg AS (
            SELECT
                x.Anstnr,
                CAST(CONCAT(x.År,'-',x.Månad,'-01') AS date) AS Datum,
                x.Kortkod AS SjukKod,
                x.PeriodStart AS FrånvaroStart,
                x.PeriodEnd AS FrånvaroSlut,
                x.KalenderdagarDennaManad AS FrånvaroAntalDagar,
                x.EjBetaldaDagarUtanProcent AS FrånvaroAntalObetaldaDagar,
                x.DagarIMånaden AS AntalDagarIMånad
            FROM (
                SELECT Anstnr, GruppID, Kortkod, År, Månad,
                       PeriodStart, PeriodEnd,
                       KalenderdagarDennaManad,
                       GenomsnittligSysselsattningsgrad,
                       EjBetaldaDagarUtanProcent,
                       EjBetaldaDagarDennaManad,
                       DagarIMånaden
                FROM PerManad_SJ WHERE (@YearMin IS NULL OR År >= @YearMin)

                UNION ALL
                SELECT Anstnr, GruppID, Kortkod, År, Månad,
                       PeriodStart, PeriodEnd,
                       KalenderdagarDennaManad,
                       GenomsnittligSysselsattningsgrad,
                       EjBetaldaDagarUtanProcent,
                       EjBetaldaDagarDennaManad,
                       DagarIMånaden
                FROM PerManad_FL WHERE (@YearMin IS NULL OR År >= @YearMin)

                UNION ALL
                SELECT Anstnr, GruppID, Kortkod, År, Månad,
                       PeriodStart, PeriodEnd,
                       KalenderdagarDennaManad,
                       GenomsnittligSysselsattningsgrad,
                       EjBetaldaDagarUtanProcent,
                       EjBetaldaDagarDennaManad,
                       DagarIMånaden
                FROM PerManad_TJ WHERE (@YearMin IS NULL OR År >= @YearMin)
            ) x
            WHERE x.År >= 2024
        ),
        -- Matcha mot SCD2 för nycklar/attribut
        SCD2Match AS (
            SELECT 
                s.Anstnr,
                s.Datum,
                d.[AnställdSk],
                d.[Kostnadsställe],
                d.[Anställningsform],
                ROW_NUMBER() OVER (
                    PARTITION BY s.Anstnr, s.Datum
                    ORDER BY CASE 
                              WHEN s.Datum BETWEEN d.[Tilltrade] AND d.[TilltradeTom] THEN 0
                              WHEN s.Datum < d.[Tilltrade] THEN 1
                              ELSE 2
                             END, d.[Tilltrade] DESC
                ) AS rn
            FROM SlutAgg s
            INNER JOIN [MKBBIDW].[dim].[AnställdSCD2] d
                ON d.[AnstNr] = s.Anstnr
        ),
        SCD2Best AS (
            SELECT * FROM SCD2Match WHERE rn = 1
        )
        INSERT INTO [MKBBIDW].[fact].[FteFrånvaroJustering]
        (
            [AnställdsSk],
            [AnstNr],
            [KostnadsStälle],
            [AnställningsForm],
            [Datum],
            [SjukKod],
            [FrånvaroStart],
            [FrånvaroSlut],
            [FrånvaroAntalDagar],
            [FrånvaroAntalObetaldaDagar],
            [AntalDagarIMånad]
        )
        SELECT
            m.[AnställdSk]                         AS [AnställdsSk],
            s.[Anstnr]                              AS [AnstNr],
            m.[Kostnadsställe]                      AS [KostnadsStälle],
            m.[Anställningsform]                    AS [AnställningsForm],
            s.[Datum],
            s.[SjukKod],
            s.[FrånvaroStart],
            s.[FrånvaroSlut],
            s.[FrånvaroAntalDagar],
            s.[FrånvaroAntalObetaldaDagar],
            s.[AntalDagarIMånad]
        FROM SlutAgg s
        LEFT JOIN SCD2Best m
               ON m.Anstnr = s.Anstnr
              AND m.Datum  = s.Datum;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err nvarchar(4000) = ERROR_MESSAGE();
        RAISERROR(N'LoadFactFteFrånvaroJustering failed: %s',16,1,@Err);
    END CATCH
END
