USE [MKBBIStage]
GO
/****** Object:  StoredProcedure [dbo].[LoadFactFTE]    Script Date: 2025-09-21 20:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LoadFactFTE]
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    /* ========== 0) Säkerställ mål-tabell i MKBBIDW och ev. gammalt namn ========== */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[fact].[FTE]'', N''U'') IS NULL
BEGIN
  IF OBJECT_ID(N''[fact].[FactFTE]'', N''U'') IS NOT NULL
    EXEC sp_rename N''fact.FactFTE'', N''FTE'';
END';

    /* ========== 0b) Säkerställ scenariodimension (statisk) ========== */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[dim].[FTEScenario]'', N''U'') IS NULL
BEGIN
  CREATE TABLE [dim].[FTEScenario](
    [ScenarioSk] TINYINT NOT NULL PRIMARY KEY,
    [Scenario]   VARCHAR(20) NOT NULL UNIQUE
  );
  INSERT INTO [dim].[FTEScenario] (ScenarioSk, Scenario)
  VALUES (1, ''Utfall''), (2, ''Prognos'');
END
ELSE
BEGIN
  IF NOT EXISTS (SELECT 1 FROM [dim].[FTEScenario] WHERE ScenarioSk = 1 AND Scenario = ''Utfall'')
    MERGE [dim].[FTEScenario] AS t
    USING (SELECT CAST(1 AS TINYINT) AS ScenarioSk, CAST(''Utfall'' AS VARCHAR(20)) AS Scenario) s
      ON t.ScenarioSk = s.ScenarioSk
    WHEN NOT MATCHED THEN INSERT(ScenarioSk, Scenario) VALUES (s.ScenarioSk, s.Scenario);

  IF NOT EXISTS (SELECT 1 FROM [dim].[FTEScenario] WHERE ScenarioSk = 2 AND Scenario = ''Prognos'')
    MERGE [dim].[FTEScenario] AS t
    USING (SELECT CAST(2 AS TINYINT) AS ScenarioSk, CAST(''Prognos'' AS VARCHAR(20)) AS Scenario) s
      ON t.ScenarioSk = s.ScenarioSk
    WHEN NOT MATCHED THEN INSERT(ScenarioSk, Scenario) VALUES (s.ScenarioSk, s.Scenario);
END';

    /* ========== 1) Säkerställ mål-tabell & kolumner (inkl. scenario-kolumner) ========== */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[fact].[FTE]'', N''U'') IS NULL
BEGIN
  CREATE TABLE [fact].[FTE](
    [AnställdsSk]               INT            NOT NULL,
    [AnstNr]                    INT            NOT NULL,
    [KostnadsStälle]            INT            NULL,
    [AnställningsForm]          VARCHAR(50)    NULL,
    [Datum]                     DATE           NOT NULL,
    [Fte]                       DECIMAL(18,2)  NULL,
    [TillTrädesDatum]           DATE           NULL,
    [TillTrädeTomDatum]         DATE           NULL,
    [Källa]                     VARCHAR(30)    NULL,
    [KontraktStartMånad]        DATE           NULL,
    [KontraktsSlutMånad]        DATE           NULL,
    [Sysselsättningsgrad]       DECIMAL(18,2)  NULL,
    [RapporteradeTimmar]        DECIMAL(18,2)  NULL,
    [NormalArbetsTid]           INT            NULL,
    [Månadslön]                 DECIMAL(14,2)  NULL,
    [Timlön]                    DECIMAL(14,2)  NULL,
    [Timmar*Timlön]             DECIMAL(14,2)  NULL,
    [Lönetillägg]               DECIMAL(14,2)  NULL,
    [Lönetillägg Startdatum]    DATE           NULL,
    [Lönetillägg Slutdatum]     DATE           NULL,
    [MånadsLönPlusTillägg]      DECIMAL(14,2)  NULL
  );
END;

/* Nya justerade SCD2-kolumner */
IF COL_LENGTH(N''[fact].[FTE]'',''TillträdesDatumJusteradScd2'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [TillträdesDatumJusteradScd2] DATE NULL;
IF COL_LENGTH(N''[fact].[FTE]'',''TillträdesTomDatumJusteradScd2'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [TillträdesTomDatumJusteradScd2] DATE NULL;

/* Scenario-kolumner */
IF COL_LENGTH(N''[fact].[FTE]'',''ScenarioSk'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [ScenarioSk] TINYINT NULL;
IF COL_LENGTH(N''[fact].[FTE]'',''Scenario'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [Scenario] VARCHAR(20) NULL;

/* Typkorrigering där det kan diffa */
IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS
           WHERE TABLE_SCHEMA=''fact'' AND TABLE_NAME=''FTE'' AND COLUMN_NAME=''RapporteradeTimmar''
             AND (DATA_TYPE<>''decimal'' OR NUMERIC_PRECISION<>18 OR NUMERIC_SCALE<>2))
  ALTER TABLE [fact].[FTE] ALTER COLUMN [RapporteradeTimmar] DECIMAL(18,2) NULL;

/* Index för vanliga uppslag (inkl. nya kolumner) */
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID(N''[fact].[FTE]'') AND name = N''IX_FTE_Anst_Datum'')
  CREATE NONCLUSTERED INDEX [IX_FTE_Anst_Datum]
    ON [fact].[FTE]([AnställdsSk],[Datum])
    INCLUDE([Fte],[KostnadsStälle],[AnställningsForm],[Källa],[RapporteradeTimmar],[NormalArbetsTid],
            [Månadslön],[Timlön],[Lönetillägg],[Lönetillägg Startdatum],[Lönetillägg Slutdatum],[MånadsLönPlusTillägg],
            [TillTrädesDatum],[TillTrädeTomDatum],[TillträdesDatumJusteradScd2],[TillträdesTomDatumJusteradScd2],
            [ScenarioSk],[Scenario]);
';

    /* ========== 2) Töm mål ========== */
    BEGIN TRY
      EXEC [MKBBIDW].sys.sp_executesql N'TRUNCATE TABLE [fact].[FTE];';
    END TRY
    BEGIN CATCH
      EXEC [MKBBIDW].sys.sp_executesql N'DELETE FROM [fact].[FTE];';
    END CATCH;

    /* ========== 3) INSERT … SELECT (förläng kalender till 31/12 nästa år & märk scenario) ========== */
    DECLARE @sql NVARCHAR(MAX) = N'
DECLARE @ActualCutoff DATE = EOMONTH(GETDATE());
DECLARE @HorizonEnd   DATE = EOMONTH(DATEFROMPARTS(YEAR(GETDATE())+1,12,1));

;WITH 
month_n AS (
  SELECT TOP (360) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS n
  FROM sys.all_objects
),
calendar AS (
  SELECT DATEADD(MONTH, n, CAST(''2020-01-01'' AS DATE)) AS MonthStartDate
  FROM month_n
  WHERE DATEADD(MONTH, n, ''2020-01-01'') <= @HorizonEnd
),
trimmed_arbetstider AS (
  SELECT
    A.ANST_NR,
    C.MonthStartDate,
    CASE WHEN MAXDATES.StartDate > C.MonthStartDate THEN MAXDATES.StartDate ELSE C.MonthStartDate END AS PeriodStart,
    CASE WHEN MAXDATES.EndDate   < EOMONTH(C.MonthStartDate) THEN MAXDATES.EndDate ELSE EOMONTH(C.MonthStartDate) END AS PeriodEnd,
    TRY_CONVERT(DECIMAL(9,4), REPLACE(REPLACE(A.SYSSELSATTNINGSGRAD, ''%'', ''''), '','', ''.'')) AS SysselsattningsgradDec
  FROM [MKBBIStage].[Agda].[Arbetstider] A
  JOIN [MKBBIStage].[Agda].[Anställningar] E ON A.ANST_NR = E.ANST_NR
  JOIN calendar C 
    ON COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') >= C.MonthStartDate
   AND A.ARBETSTIDFRANTID <= EOMONTH(C.MonthStartDate)
  CROSS APPLY (
    SELECT
      CASE 
        WHEN A.ARBETSTIDFRANTID > E.ANSTALLNINGSDATUM 
          THEN A.ARBETSTIDFRANTID 
          ELSE E.ANSTALLNINGSDATUM 
      END AS StartDate,
      CASE 
        WHEN COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') < ISNULL(E.AVGANGSDATUM, ''9999-12-31'')
          THEN COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') 
          ELSE ISNULL(E.AVGANGSDATUM, ''9999-12-31'') 
      END AS EndDate
  ) AS MAXDATES
),
facttablefte AS (
  SELECT
    CAST(t.ANST_NR AS int) AS AnstNrInt,
    t.MonthStartDate,
    SUM(
      ROUND(
        CAST(DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1 AS FLOAT)
        / CAST(DAY(EOMONTH(t.MonthStartDate)) AS FLOAT)
        * (COALESCE(t.SysselsattningsgradDec, 0) / 100.0), 4)
    ) AS FTE,
    MIN(t.PeriodStart) AS PeriodStart,
    MAX(t.PeriodEnd)   AS PeriodEnd,
    CAST(
      SUM(CASE WHEN t.SysselsattningsgradDec IS NOT NULL 
               THEN (DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1) * t.SysselsattningsgradDec 
               ELSE 0 END) * 1.0
      / NULLIF(SUM(CASE WHEN t.SysselsattningsgradDec IS NOT NULL 
                        THEN (DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1) 
                        ELSE 0 END), 0)
      AS DECIMAL(6,2)
    ) AS [Sysselsättningsgrad]
  FROM trimmed_arbetstider t
  WHERE DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) >= 0
  GROUP BY CAST(t.ANST_NR AS int), t.MonthStartDate
),
/* Timrapporterade timmar -> FTE på fast NormalArbetsTid = 165 (bara historiskt finns data) */
hours_by_month AS (
  SELECT 
    CAST(TA.[dataANST_NR] AS int) AS AnstNrInt,
    DATEFROMPARTS(YEAR(TA.[dataFOM_DATUM_AVR]), MONTH(TA.[dataFOM_DATUM_AVR]), 1) AS MonthStartDate,
    SUM(TRY_CONVERT(DECIMAL(18,4), REPLACE(NULLIF(LTRIM(RTRIM(TA.[dataOMRANTAL])), ''''), '','', ''.''))) AS Hours
  FROM [MKBBIStage].[Agda].[timanställda] TA
  GROUP BY 
    CAST(TA.[dataANST_NR] AS int),
    DATEFROMPARTS(YEAR(TA.[dataFOM_DATUM_AVR]), MONTH(TA.[dataFOM_DATUM_AVR]), 1)
),
hoursreportedfte AS (
  SELECT 
    h.AnstNrInt,
    h.MonthStartDate,
    h.Hours,
    165 AS NormalArbetsTid,
    h.Hours / 165.0 AS FTE
  FROM hours_by_month h
  WHERE h.MonthStartDate <= @ActualCutoff
),
final_fte AS (
  /* 1) TimRapportering (NormalArbetsTid = 165) */
  SELECT 
    AnstNrInt, MonthStartDate, FTE,
    CAST(NULL AS DATE) AS PeriodStart,
    CAST(NULL AS DATE) AS PeriodEnd,
    CAST(NULL AS DECIMAL(6,2)) AS [Sysselsättningsgrad],
    ''TimRapportering'' AS Source,
    CAST(ROUND(Hours, 2) AS DECIMAL(18,2)) AS RapporteradeTimmar,
    165 AS NormalArbetsTid
  FROM hoursreportedfte

  UNION ALL

  /* 2) Kontraktuell FTE (NormalArbetsTid = 165) – även framtid t.o.m. @HorizonEnd */
  SELECT 
    fte.AnstNrInt, fte.MonthStartDate, fte.FTE,
    fte.PeriodStart, fte.PeriodEnd, fte.[Sysselsättningsgrad],
    ''KontraktuellFte'' AS Source,
    CAST(NULL AS DECIMAL(18,2)) AS RapporteradeTimmar,
    165 AS NormalArbetsTid
  FROM facttablefte fte
  LEFT JOIN hoursreportedfte hr  
    ON fte.AnstNrInt = hr.AnstNrInt AND fte.MonthStartDate = hr.MonthStartDate
  WHERE hr.AnstNrInt IS NULL
),

/* === SCD2-matchning === */
scd2_segments AS (
  SELECT 
    d.[AnstNr],
    d.[AnställdSk],
    CAST(d.[Tilltrade]    AS date) AS Tilltrade,
    CAST(d.[TilltradeTom] AS date) AS TilltradeTom,
    d.[Anställningsform],
    d.[Kostnadsställe],
    ROW_NUMBER() OVER (PARTITION BY d.[AnstNr] ORDER BY d.[Tilltrade]) AS rn,
    LAG(CAST(d.[TilltradeTom] AS date)) OVER (PARTITION BY d.[AnstNr] ORDER BY d.[Tilltrade]) AS prev_tilltradeTom,
    LEAD(CAST(d.[Tilltrade]    AS date)) OVER (PARTITION BY d.[AnstNr] ORDER BY d.[Tilltrade]) AS next_tilltrade
  FROM [MKBBIDW].[dim].[AnställdSCD2] d
),
scd2_match AS (
  SELECT 
    H.AnstNrInt,
    H.MonthStartDate,
    s.[AnställdSk],
    s.[Tilltrade],
    s.[TilltradeTom],
    s.[Anställningsform],
    s.[Kostnadsställe],
    s.rn,
    s.prev_tilltradeTom,
    s.next_tilltrade,
    ROW_NUMBER() OVER (
      PARTITION BY H.AnstNrInt, H.MonthStartDate
      ORDER BY
        CASE WHEN s.Tilltrade <= EOMONTH(H.MonthStartDate) THEN 0 ELSE 1 END,
        CASE WHEN s.Tilltrade <= EOMONTH(H.MonthStartDate) THEN s.Tilltrade END DESC,
        s.Tilltrade ASC
    ) AS pick
  FROM final_fte H
  JOIN scd2_segments s
    ON s.[AnstNr] = H.AnstNrInt
),
best_match AS (
  SELECT 
    m.AnstNrInt,
    m.MonthStartDate,
    m.[AnställdSk],
    m.[Tilltrade],
    m.[TilltradeTom],
    m.[Anställningsform],
    m.[Kostnadsställe],
    CASE 
      WHEN m.rn = 1 THEN m.Tilltrade
      WHEN m.prev_tilltradeTom IS NULL THEN m.Tilltrade
      WHEN m.prev_tilltradeTom >= DATEFROMPARTS(YEAR(m.Tilltrade), MONTH(m.Tilltrade), 1)
           THEN DATEFROMPARTS(YEAR(m.Tilltrade), MONTH(m.Tilltrade), 1)
      ELSE m.Tilltrade
    END AS SCD2_Start,
    CASE 
      WHEN m.next_tilltrade IS NULL THEN COALESCE(m.[TilltradeTom], CONVERT(date,''9999-12-31''))
      ELSE EOMONTH(DATEADD(MONTH, -1, m.next_tilltrade))
    END AS SCD2_Slut
  FROM scd2_match m
  WHERE m.pick = 1
),
bm_fix AS (
  SELECT
    bm.*,
    TRY_CONVERT(INT,
      NULLIF(
        REPLACE(REPLACE(REPLACE(CONVERT(varchar(64), bm.[Kostnadsställe]), '' '', ''''), '','', ''''), ''.'', '''')
      , '''')
    ) AS Kostnadsställe_Int
  FROM best_match bm
),

/* ===== Lönetillägg: sanerad numerik, begränsa fönster till prognoshorisonten ===== */
fte_bounds AS (
  SELECT 
    CAST(''2024-01-01'' AS DATE) AS MinMonth,
    @HorizonEnd AS MaxMonth
),
fa_base_70 AS (
  SELECT 
    CAST(FA.ANST_NR AS int) AS AnstNrInt,
    CAST(FA.DATUM_IN AS date)  AS DatumStartDate,
    CAST(FA.DATUM_UT AS date)  AS DatumSlutDate,
    TRY_CONVERT(DECIMAL(14,4), REPLACE(NULLIF(LTRIM(RTRIM(CONVERT(varchar(64), FA.BELOPP))), ''''), '','', ''.'')) AS BELOPP_NUM
  FROM [MKBBIStage].[Agda].[FastaArter] FA WHERE FA.LONEART = 70
),
fa_windowed_70 AS (
  SELECT fa.* FROM fa_base_70 fa CROSS JOIN fte_bounds b
  WHERE (fa.DatumStartDate <= EOMONTH(b.MaxMonth)) AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= b.MinMonth)
),
fa_match_70 AS (
  SELECT fte.AnstNrInt, fte.MonthStartDate, fa.BELOPP_NUM, fa.DatumStartDate,
         ROW_NUMBER() OVER (PARTITION BY fte.AnstNrInt, fte.MonthStartDate ORDER BY fa.DatumStartDate DESC) AS rn
  FROM final_fte fte
  JOIN fa_windowed_70 fa ON fa.AnstNrInt = fte.AnstNrInt
   AND fa.DatumStartDate < DATEADD(MONTH, 1, fte.MonthStartDate)
   AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= fte.MonthStartDate)
),
fa_month_70 AS (
  SELECT AnstNrInt, MonthStartDate, BELOPP_NUM, DatumStartDate
  FROM fa_match_70 WHERE rn = 1
),
fa_base_10 AS (
  SELECT 
    CAST(FA.ANST_NR AS int) AS AnstNrInt,
    CAST(FA.DATUM_IN AS date)  AS DatumStartDate,
    CAST(FA.DATUM_UT AS date)  AS DatumSlutDate,
    TRY_CONVERT(DECIMAL(14,4), REPLACE(NULLIF(LTRIM(RTRIM(CONVERT(varchar(64), FA.PRIS))), ''''), '','', ''.'')) AS PRIS_NUM
  FROM [MKBBIStage].[Agda].[FastaArter] FA WHERE FA.LONEART = 10
),
fa_windowed_10 AS (
  SELECT fa.* FROM fa_base_10 fa CROSS JOIN fte_bounds b
  WHERE (fa.DatumStartDate <= EOMONTH(b.MaxMonth)) AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= b.MinMonth)
),
fa_match_10 AS (
  SELECT fte.AnstNrInt, fte.MonthStartDate, fa.PRIS_NUM, fa.DatumStartDate,
         ROW_NUMBER() OVER (PARTITION BY fte.AnstNrInt, fte.MonthStartDate ORDER BY fa.DatumStartDate DESC) AS rn
  FROM final_fte fte
  JOIN fa_windowed_10 fa ON fa.AnstNrInt = fte.AnstNrInt
   AND fa.DatumStartDate < DATEADD(MONTH, 1, fte.MonthStartDate)
   AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= fte.MonthStartDate)
),
fa_month_10 AS (
  SELECT AnstNrInt, MonthStartDate, PRIS_NUM, DatumStartDate
  FROM fa_match_10 WHERE rn = 1
),
fa_base_230 AS (
  SELECT 
    CAST(FA.ANST_NR AS int) AS AnstNrInt,
    CAST(FA.DATUM_IN AS date)  AS DatumStartDate,
    CAST(FA.DATUM_UT AS date)  AS DatumSlutDate,
    TRY_CONVERT(DECIMAL(14,4), REPLACE(NULLIF(LTRIM(RTRIM(CONVERT(varchar(64), FA.BELOPP))), ''''), '','', ''.'')) AS BELOPP_NUM
  FROM [MKBBIStage].[Agda].[FastaArter] FA WHERE FA.LONEART = 230
),
fa_windowed_230 AS (
  SELECT fa.* FROM fa_base_230 fa CROSS JOIN fte_bounds b
  WHERE (fa.DatumStartDate <= EOMONTH(b.MaxMonth)) AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= b.MinMonth)
),
fa_match_230 AS (
  SELECT fte.AnstNrInt, fte.MonthStartDate, fa.BELOPP_NUM, fa.DatumStartDate, fa.DatumSlutDate,
         ROW_NUMBER() OVER (PARTITION BY fte.AnstNrInt, fte.MonthStartDate ORDER BY fa.DatumStartDate DESC) AS rn
  FROM final_fte fte
  JOIN fa_windowed_230 fa ON fa.AnstNrInt = fte.AnstNrInt
   AND fa.DatumStartDate < DATEADD(MONTH, 1, fte.MonthStartDate)
   AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= fte.MonthStartDate)
),
fa_month_230 AS (
  SELECT AnstNrInt, MonthStartDate, BELOPP_NUM, DatumStartDate, DatumSlutDate
  FROM fa_match_230 WHERE rn = 1
)

INSERT INTO [fact].[FTE](
  [AnställdsSk],
  [AnstNr],
  [KostnadsStälle],
  [AnställningsForm],
  [Datum],
  [Fte],
  [TillTrädesDatum],
  [TillTrädeTomDatum],
  [TillträdesDatumJusteradScd2],
  [TillträdesTomDatumJusteradScd2],
  [Källa],
  [KontraktStartMånad],
  [KontraktsSlutMånad],
  [Sysselsättningsgrad],
  [RapporteradeTimmar],
  [NormalArbetsTid],
  [Månadslön],
  [Timlön],
  [Timmar*Timlön],
  [Lönetillägg],
  [Lönetillägg Startdatum],
  [Lönetillägg Slutdatum],
  [MånadsLönPlusTillägg],
  [ScenarioSk],
  [Scenario]
)
SELECT 
  TRY_CONVERT(INT, bm_fix.[AnställdSk])                                 AS [AnställdsSk],
  H.AnstNrInt                                                            AS [AnstNr],
  bm_fix.Kostnadsställe_Int                                              AS [KostnadsStälle],
  CAST(bm_fix.[Anställningsform] AS VARCHAR(50))                         AS [AnställningsForm],
  CAST(H.[MonthStartDate] AS DATE)                                       AS [Datum],
  CAST(H.[FTE] AS DECIMAL(18,2))                                         AS [Fte],
  CAST(bm_fix.[Tilltrade] AS DATE)                                       AS [TillTrädesDatum],
  CAST(bm_fix.[TilltradeTom] AS DATE)                                    AS [TillTrädeTomDatum],
  bm_fix.SCD2_Start                                                      AS [TillträdesDatumJusteradScd2],
  bm_fix.SCD2_Slut                                                       AS [TillträdesTomDatumJusteradScd2],
  CAST(H.[Source] AS VARCHAR(30))                                        AS [Källa],
  CAST(NULL AS DATE)                                                     AS [KontraktStartMånad],
  CAST(NULL AS DATE)                                                     AS [KontraktsSlutMånad],
  CAST(H.[Sysselsättningsgrad] AS DECIMAL(18,2))                         AS [Sysselsättningsgrad],
  CAST(COALESCE(H.[RapporteradeTimmar], 0.0) AS DECIMAL(18,2))           AS [RapporteradeTimmar],
  CAST(H.[NormalArbetsTid]   AS INT)                                     AS [NormalArbetsTid],
  CASE WHEN COALESCE(H.[RapporteradeTimmar], 0.0) = 0 
       THEN TRY_CONVERT(DECIMAL(14,2), fa70.BELOPP_NUM) ELSE CAST(NULL AS DECIMAL(14,2)) END,
  CASE WHEN COALESCE(H.[RapporteradeTimmar], 0.0) > 0 
       THEN TRY_CONVERT(DECIMAL(14,2), fa10.PRIS_NUM) ELSE CAST(NULL AS DECIMAL(14,2)) END,
  TRY_CONVERT(DECIMAL(14,2), COALESCE(H.[RapporteradeTimmar], 0.0) * COALESCE(fa10.PRIS_NUM, 0.0)),
  TRY_CONVERT(DECIMAL(14,2), COALESCE(fa230.BELOPP_NUM, 0.0))            AS [Lönetillägg],
  CAST(fa230.DatumStartDate AS DATE)                                     AS [Lönetillägg Startdatum],
  CAST(fa230.DatumSlutDate  AS DATE)                                     AS [Lönetillägg Slutdatum],
  TRY_CONVERT(DECIMAL(14,2),
      COALESCE(CASE WHEN COALESCE(H.[RapporteradeTimmar], 0.0) = 0 
                    THEN fa70.BELOPP_NUM ELSE NULL END, 0.0)
      + COALESCE(fa230.BELOPP_NUM, 0.0)
  )                                                                       AS [MånadsLönPlusTillägg],
  CASE WHEN H.MonthStartDate <= @ActualCutoff THEN 1 ELSE 2 END           AS [ScenarioSk],
  CASE WHEN H.MonthStartDate <= @ActualCutoff THEN ''Utfall'' ELSE ''Prognos'' END AS [Scenario]
FROM final_fte H
LEFT JOIN bm_fix 
  ON H.AnstNrInt = bm_fix.AnstNrInt 
 AND H.MonthStartDate = bm_fix.MonthStartDate
LEFT JOIN fa_month_70  fa70
  ON fa70.AnstNrInt = H.AnstNrInt
 AND fa70.MonthStartDate = H.MonthStartDate
LEFT JOIN fa_month_10  fa10
  ON fa10.AnstNrInt = H.AnstNrInt
 AND fa10.MonthStartDate = H.MonthStartDate
LEFT JOIN fa_month_230 fa230
  ON fa230.AnstNrInt = H.AnstNrInt
 AND fa230.MonthStartDate = H.MonthStartDate
WHERE H.MonthStartDate >= ''2024-01-01''
  AND H.MonthStartDate <= @HorizonEnd
OPTION (RECOMPILE);';

    EXEC [MKBBIDW].sys.sp_executesql @sql;

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(N'LoadFactFTE failed: %s',16,1,@Err);
  END CATCH
END
