USE [MKBBIStage]
GO
/****** Object:  StoredProcedure [dbo].[LoadFactBudget]    Script Date: 2026-02-10 15:57:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LoadFactBudget] AS 

DECLARE 
	@StartTime DATETIME,
	@EndTime DATETIME,
	@Table VARCHAR(50),
	@SPName VARCHAR(50)

SET @StartTime = GETDATE()

SET @Table = 'fact.Budget'
SET @SPName = 'LoadFactBudget'
;

/*
SELECT 
a.*
,CASE
 WHEN e.att_value IS NOT NULL THEN '1. ProjLG'
 WHEN e.att_value IS NULL AND f.att_value IS NOT NULL THEN '2. UppfLG'
 WHEN e.att_value IS NULL AND f.att_value IS NULL THEN '3. KstLG'
 ELSE '4.Other'
 END AS KoddelRegel
,COALESCE(e.att_value, f.att_value, c.att_value) AS FunktionId
INTO #Plan
FROM ubw.ImportPlan a
LEFT JOIN ubw.ImportAnvKst b ON a.Kst = b.dim_value
LEFT JOIN ubw.ImportAglRelValue c ON c.client = '10' AND c.attribute_id = 'BQ' AND c.rel_attr_id = 'O6' AND b.anv3_fx = c.rel_value
LEFT JOIN ubw.ImportAnvProj d ON a.Projekt = d.dim_value
LEFT JOIN ubw.ImportAglRelValue e ON e.client = '10' AND e.attribute_id = 'BQ' AND e.rel_attr_id = 'O6' AND d.anv3_fx = e.rel_value
LEFT JOIN ubw.ImportAglRelValue f ON f.client = '10' AND f.attribute_id = 'BQ' AND f.rel_attr_id = 'O6' AND a.Uppf = f.rel_value
WHERE a.konto BETWEEN '1000' AND '8999'
AND RIGHT(a.Period, 2) <> '00'
*/


-- Updated with Distinct Anv3 (Ledningsgrupp) 2026-02-10 due to duplicates in previous script--
WITH DisinctAnv3 as(
SELECT 
ROW_NUMBER() over( partition by f.rel_value order by last_update desc) as RN,
*
FROM ubw.ImportAglRelValue f 
WHERE f.client = '10' 
AND f.attribute_id = 'BQ'  
AND f.rel_attr_id = 'O6')
-----------------------------------------------------------------------------------------------




SELECT 
a.*, ISNULL(f.att_value, 'FV') AS FunktionId
INTO #Plan
FROM ubw.ImportPlan a
LEFT JOIN DisinctAnv3 f ON 
a.AnsvLgrp = f.rel_value 
AND F.RN = 1
WHERE a.konto BETWEEN '1000' AND '8999'
AND RIGHT(a.Period, 2) <> '00'

DELETE FROM #Plan
WHERE BelT0 = 0 AND BelT1 = 0 AND BelT2 = 0 AND BelProjOrig = 0 AND BelProjLop = 0


TRUNCATE TABLE MKBBIDW.fact.Budget

INSERT INTO MKBBIDW.fact.Budget
(TimeSK
,KontoSK
,KostnadsställeSK
,FöretagSK
,SlagSK
,MotpartSK
,SegmentSK
,ProjektSK
,MomsKodSK
,MomssystemSK
,VertypSK
,UppföljningSK
,AktivitetSK
,FunktionSK
,LeverantörSK
,KundSK
,Vernr
,SekvensNr
,MKproc
,MSproc
,Bokföringsdatum
,Transaktionsdatum
,Utfall
,BeloppT0
,BeloppT1
,BeloppT2
,BeloppProjOrig
,BeloppProjLop
,Version
,VerText
,KoddelLG
)


SELECT 
  b.TimeSK
 ,k.KontoSK
 ,ISNULL(ks.KostnadsställeSK, -1) AS KostnadsställeSK
 ,ISNULL(f.FöretagSK, -1) AS FöretagSK
 ,ISNULL(s.SlagSK, -1) AS SlagSK
 ,ISNULL(m.MotpartSK, -1) MotpartSK
 ,ISNULL(se.SegmentSK, -1) AS SegmentSK
 ,ISNULL(p.ProjektSK, -1) AS ProjektSK
 ,ISNULL(mk.MomskodSK, -1) AS MomskodSK
 ,ISNULL(ms.MomssystemSK, -1) AS MomssystemSK
 ,ISNULL(vt.VertypSK, -1) AS VertypSK
 ,ISNULL(u.UppföljningSK, -1) AS UppföljningSK
 ,ISNULL(akt.AktivitetSK, -1) AS AktivitetSK
 ,ISNULL(fu.FunktionSK, -1) AS FunktionSK
 ,ISNULL(l.LeverantörSK, -1) AS LeverantörSK
 ,ISNULL(ku.KundSK, -1) AS KundSK
 ,hb.vernr
 ,hb.Sekvnr
 ,hb.MKproc/100
 ,hb.MSproc/100
 ,hb.Bokfdat
 ,hb.Transdat
 ,hb.Utfall
 ,hb.BelT0
 ,hb.BelT1
 ,hb.BelT2
 ,hb.BelProjOrig
 ,hb.BelProjLop
 ,hb.Version
 ,hb.Text
 ,hb.KoddelLG
FROM #Plan hb
INNER JOIN MKBBIDW.dim.Period pe ON hb.period = pe.PeriodSK
INNER JOIN MKBBIDW.dim.Time b ON pe.PeriodStart = b.Date
INNER JOIN MKBBIDW.dim.Konto k ON hb.konto = k.KontoNr
LEFT JOIN MKBBIDW.dim.Kostnadsställe ks ON hb.kst = ks.KostnadsställeNr
LEFT JOIN MKBBIDW.dim.Företag f ON hb.Foretag = f.FöretagNr
LEFT JOIN MKBBIDW.dim.Slag s ON hb.slag = s.SlagNr
LEFT JOIN MKBBIDW.dim.Motpart m ON hb.mp = m.MotpartNr
LEFT JOIN MKBBIDW.dim.SegmentUBW se ON hb.segm = se.SegmentNr
LEFT JOIN MKBBIDW.dim.Projekt p ON hb.projekt = p.ProjektNr
LEFT JOIN MKBBIDW.dim.Momskod mk ON hb.mk = mk.MomskodNr
LEFT JOIN MKBBIDW.dim.Momssystem ms ON hb.ms = ms.MomssystemNr
LEFT JOIN MKBBIDW.dim.Vertyp vt ON hb.Vertyp = vt.VerTypNr
LEFT JOIN MKBBIDW.dim.Leverantör l ON hb.Levnr = l.LeverantörNr
LEFT JOIN MKBBIDW.dim.KundUbw ku ON hb.Kundnr = ku.KundNr
LEFT JOIN MKBBIDW.dim.Uppföljning u ON hb.Uppf = u.UppföljningNr
LEFT JOIN MKBBIDW.dim.Aktivitet akt ON hb.Aktiv = akt.AktivitetId
LEFT JOIN MKBBIDW.dim.Funktion fu ON hb.FunktionId = fu.FunktionId


SET @EndTime = GETDATE()


INSERT INTO MKBBIDW.dbo.LogDW
(TableName
,StartTime
,EndTime
,SPName
)

SELECT @Table, @StartTime, @EndTime, @SPName

UPDATE a
SET 
	a.Records = (SELECT COUNT(*) FROM MKBBIDW.fact.Budget)
FROM MKBBIDW.dbo.LogDW a
WHERE a.SPName = @SPName AND a.StartTime = @StartTime 

DROP TABLE #Plan
