USE [MKBBIStage]
GO
/****** Object:  StoredProcedure [dbo].[LoadFactUtfall]    Script Date: 2026-02-10 16:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LoadFactUtfall] AS 

DECLARE 
	@StartTime DATETIME,
	@EndTime DATETIME,
	@Table VARCHAR(50),
	@SPName VARCHAR(50)

SET @StartTime = GETDATE()

SET @Table = 'fact.Utfall'
SET @SPName = 'LoadFactUtfall'
;

SELECT 
a.*, ISNULL(f.att_value, 'FV') AS FunktionId, 
IIF(a.Segm = '', '-', a.Segm)+'|'+a.Kst AS SegmKstId
INTO #Utfall
FROM ubw.ImportUtfall a
LEFT JOIN ubw.ImportAglRelValue f ON f.client = '10' AND f.attribute_id = 'BQ' AND f.rel_attr_id = 'O6' AND a.AnsvLgrp = f.rel_value
WHERE a.konto BETWEEN '1000' AND '8999'
AND RIGHT(a.Period, 2) <> '00'
AND	a.Period >= '202001'


TRUNCATE TABLE MKBBIDW.fact.Utfall

INSERT INTO MKBBIDW.fact.Utfall
(TimeSK
,KontoSK
,KostnadsställeSK
,FöretagSK
,SlagSK
,MotpartSK
,SegmentSK
,ProjektSK
,MomsKodSK
,MomssystemSK
,VertypSK
,UppföljningSK
,AktivitetSK
,FunktionSK
,LeverantörSK
,KundSK
,Vernr
,SekvensNr
,MKproc
,MSproc
,Bokföringsperiod
,Bokföringsdatum
,Transaktionsdatum
,Utfall
,BeloppT0
,BeloppT1
,BeloppT2
,BeloppProjOrig
,BeloppProjLop
,Version
,VerText
,KoddelLG
,SegmKstId
)


SELECT 
  b.TimeSK
 ,k.KontoSK
 ,ISNULL(ks.KostnadsställeSK, -1) AS KostnadsställeSK
 ,ISNULL(f.FöretagSK, -1) AS FöretagSK
 ,ISNULL(s.SlagSK, -1) AS SlagSK
 ,ISNULL(m.MotpartSK, -1) MotpartSK
 ,ISNULL(se.SegmentSK, -1) AS SegmentSK
 ,ISNULL(p.ProjektSK, -1) AS ProjektSK
 ,ISNULL(mk.MomskodSK, -1) AS MomskodSK
 ,ISNULL(ms.MomssystemSK, -1) AS MomssystemSK
 ,ISNULL(vt.VertypSK, -1) AS VertypSK
 ,ISNULL(u.UppföljningSK, -1) AS UppföljningSK
 ,ISNULL(akt.AktivitetSK, -1) AS AktivitetSK
 ,ISNULL(fu.FunktionSK, -1) AS FunktionSK
 ,ISNULL(l.LeverantörSK, -1) AS LeverantörSK
 ,ISNULL(ku.KundSK, -1) AS KundSK
 ,hb.vernr
 ,hb.Sekvnr
 ,hb.MKproc/100
 ,hb.MSproc/100
 ,hb.Period
 ,hb.Bokfdat
 ,hb.Transdat
 ,hb.Utfall
 ,hb.BelT0
 ,hb.BelT1
 ,hb.BelT2
 ,hb.BelProjOrig
 ,hb.BelProjLop
 ,hb.Version
 ,hb.Text
 ,hb.KoddelLG
 ,hb.SegmKstId
FROM #Utfall hb
INNER JOIN MKBBIDW.dim.Period pe ON hb.period = pe.PeriodSK
INNER JOIN MKBBIDW.dim.Time b ON pe.PeriodStart = b.Date
INNER JOIN MKBBIDW.dim.Konto k ON hb.konto = k.KontoNr
LEFT JOIN MKBBIDW.dim.Kostnadsställe ks ON hb.kst = ks.KostnadsställeNr
LEFT JOIN MKBBIDW.dim.Företag f ON hb.Foretag = f.FöretagNr
LEFT JOIN MKBBIDW.dim.Slag s ON hb.slag = s.SlagNr
LEFT JOIN MKBBIDW.dim.Motpart m ON hb.mp = m.MotpartNr
LEFT JOIN MKBBIDW.dim.SegmentUBW se ON hb.segm = se.SegmentNr
LEFT JOIN MKBBIDW.dim.Projekt p ON hb.projekt = p.ProjektNr
LEFT JOIN MKBBIDW.dim.Momskod mk ON hb.mk = mk.MomskodNr
LEFT JOIN MKBBIDW.dim.Momssystem ms ON hb.ms = ms.MomssystemNr
LEFT JOIN MKBBIDW.dim.Vertyp vt ON hb.Vertyp = vt.VerTypNr
LEFT JOIN MKBBIDW.dim.Leverantör l ON hb.Levnr = l.LeverantörNr
LEFT JOIN MKBBIDW.dim.KundUbw ku ON hb.Kundnr = ku.KundNr
LEFT JOIN MKBBIDW.dim.Uppföljning u ON hb.Uppf = u.UppföljningNr
LEFT JOIN MKBBIDW.dim.Aktivitet akt ON hb.Aktiv = akt.AktivitetId
LEFT JOIN MKBBIDW.dim.Funktion fu ON hb.FunktionId = fu.FunktionId


SET @EndTime = GETDATE()


INSERT INTO MKBBIDW.dbo.LogDW
(TableName
,StartTime
,EndTime
,SPName
)

SELECT @Table, @StartTime, @EndTime, @SPName

UPDATE a
SET 
	a.Records = (SELECT COUNT(*) FROM MKBBIDW.fact.Utfall)
FROM MKBBIDW.dbo.LogDW a
WHERE a.SPName = @SPName AND a.StartTime = @StartTime 

DROP TABLE #Utfall
