USE [MKBBIStage]
GO
/****** Object:  StoredProcedure [dbo].[LoadFactFTE]    Script Date: 2025-09-16 17:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LoadFactFTE]
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    /* 0) Omvandla ev. gammalt namn -> fact.FTE i MKBBIDW */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[fact].[FTE]'', N''U'') IS NULL
BEGIN
  IF OBJECT_ID(N''[fact].[FactFTE]'', N''U'') IS NOT NULL
    EXEC sp_rename N''fact.FactFTE'', N''FTE'';
END';

    /* 1) Säkerställ mål-tabell & kolumner i MKBBIDW (inkl. Lönetillägg Startdatum) */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[fact].[FTE]'', N''U'') IS NULL
BEGIN
  CREATE TABLE [fact].[FTE](
    [AnställdsSk]               INT            NOT NULL,
    [AnstNr]                    INT            NOT NULL,
    [KostnadsStälle]            INT            NULL,
    [AnställningsForm]          VARCHAR(50)    NULL,
    [Datum]                     DATE           NOT NULL,
    [Fte]                       DECIMAL(18,2)  NULL,
    [TillTrädesDatum]           DATE           NULL,
    [TillTrädeTomDatum]         DATE           NULL,
    [Källa]                     VARCHAR(30)    NULL,
    [KontraktStartMånad]        DATE           NULL,
    [KontraktsSlutMånad]        DATE           NULL,
    [Sysselsättningsgrad]       DECIMAL(18,2)  NULL,
    [RapporteradeTimmar]        DECIMAL(18,2)  NULL,
    [NormalArbetsTid]           INT            NULL,
    [Månadslön]                 DECIMAL(14,2)  NULL,
    [Timlön]                    DECIMAL(14,2)  NULL,
    [Timmar*Timlön]             DECIMAL(14,2)  NULL,
    [Lönetillägg]               DECIMAL(14,2)  NULL,
    [Lönetillägg Startdatum]    DATE           NULL,
    [Lönetillägg Slutdatum]     DATE           NULL,
    [MånadsLönPlusTillägg]      DECIMAL(14,2)  NULL
  );
END;

/* Idempotent kolumnsäkring */
IF COL_LENGTH(N''[fact].[FTE]'',''Månadslön'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [Månadslön] DECIMAL(14,2) NULL;
IF COL_LENGTH(N''[fact].[FTE]'',''Timlön'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [Timlön] DECIMAL(14,2) NULL;
IF COL_LENGTH(N''[fact].[FTE]'',''Timmar*Timlön'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [Timmar*Timlön] DECIMAL(14,2) NULL;
IF COL_LENGTH(N''[fact].[FTE]'',''Lönetillägg'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [Lönetillägg] DECIMAL(14,2) NULL;
IF COL_LENGTH(N''[fact].[FTE]'',''Lönetillägg Startdatum'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [Lönetillägg Startdatum] DATE NULL;
IF COL_LENGTH(N''[fact].[FTE]'',''Lönetillägg Slutdatum'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [Lönetillägg Slutdatum] DATE NULL;
IF COL_LENGTH(N''[fact].[FTE]'',''MånadsLönPlusTillägg'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [MånadsLönPlusTillägg] DECIMAL(14,2) NULL;

/* Typkorrigering där det kan diffa */
IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS
           WHERE TABLE_SCHEMA=''fact'' AND TABLE_NAME=''FTE'' AND COLUMN_NAME=''RapporteradeTimmar''
             AND (DATA_TYPE<>''decimal'' OR NUMERIC_PRECISION<>18 OR NUMERIC_SCALE<>2))
  ALTER TABLE [fact].[FTE] ALTER COLUMN [RapporteradeTimmar] DECIMAL(18,2) NULL;

/* Index för vanliga uppslag */
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID(N''[fact].[FTE]'') AND name = N''IX_FTE_Anst_Datum'')
  CREATE NONCLUSTERED INDEX [IX_FTE_Anst_Datum]
    ON [fact].[FTE]([AnställdsSk],[Datum])
    INCLUDE([Fte],[KostnadsStälle],[AnställningsForm],[Källa],[RapporteradeTimmar],[NormalArbetsTid],
            [Månadslön],[Timlön],[Lönetillägg],[Lönetillägg Startdatum],[Lönetillägg Slutdatum],[MånadsLönPlusTillägg]);
';

    /* 2) Töm mål */
    BEGIN TRY
      EXEC [MKBBIDW].sys.sp_executesql N'TRUNCATE TABLE [fact].[FTE];';
    END TRY
    BEGIN CATCH
      EXEC [MKBBIDW].sys.sp_executesql N'DELETE FROM [fact].[FTE];';
    END CATCH;

    /* 3) INSERT … SELECT (uppdaterad scd2_match/best_match) */
    DECLARE @sql NVARCHAR(MAX) = N'
;WITH 
month_n AS (
  SELECT TOP (240) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS n
  FROM sys.all_objects
),
calendar AS (
  SELECT DATEADD(MONTH, n, CAST(''2020-01-01'' AS DATE)) AS MonthStartDate
  FROM month_n
  WHERE DATEADD(MONTH, n, ''2020-01-01'') <= EOMONTH(GETDATE())
),
trimmed_arbetstider AS (
  SELECT
    A.ANST_NR,
    C.MonthStartDate,
    CASE WHEN MAXDATES.StartDate > C.MonthStartDate THEN MAXDATES.StartDate ELSE C.MonthStartDate END AS PeriodStart,
    CASE WHEN MAXDATES.EndDate   < EOMONTH(C.MonthStartDate) THEN MAXDATES.EndDate ELSE EOMONTH(C.MonthStartDate) END AS PeriodEnd,
    TRY_CONVERT(DECIMAL(9,4), REPLACE(REPLACE(A.SYSSELSATTNINGSGRAD, ''%'', ''''), '','', ''.'')) AS SysselsattningsgradDec
  FROM [MKBBIStage].[Agda].[Arbetstider] A
  JOIN [MKBBIStage].[Agda].[Anställningar] E ON A.ANST_NR = E.ANST_NR
  JOIN calendar C 
    ON COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') >= C.MonthStartDate
   AND A.ARBETSTIDFRANTID <= EOMONTH(C.MonthStartDate)
  CROSS APPLY (
    SELECT
      CASE WHEN A.ARBETSTIDFRANTID > E.ANSTALLNINGSDATUM THEN A.ARBETSTIDFRANTID ELSE E.ANSTALLNINGSDATUM END AS StartDate,
      CASE WHEN COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') < ISNULL(E.AVGANGSDATUM, ''9999-12-31'')
           THEN COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') ELSE ISNULL(E.AVGANGSDATUM, ''9999-12-31'') END AS EndDate
  ) AS MAXDATES
),
facttablefte AS (
  SELECT
    CAST(t.ANST_NR AS int) AS AnstNrInt,
    t.MonthStartDate,
    SUM(
      ROUND(
        CAST(DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1 AS FLOAT)
        / CAST(DAY(EOMONTH(t.MonthStartDate)) AS FLOAT)
        * (COALESCE(t.SysselsattningsgradDec, 0) / 100.0), 4)
    ) AS FTE,
    MIN(t.PeriodStart) AS PeriodStart,
    MAX(t.PeriodEnd)   AS PeriodEnd,
    CAST(
      SUM(CASE WHEN t.SysselsattningsgradDec IS NOT NULL 
               THEN (DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1) * t.SysselsattningsgradDec 
               ELSE 0 END) * 1.0
      / NULLIF(SUM(CASE WHEN t.SysselsattningsgradDec IS NOT NULL 
                        THEN (DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1) 
                        ELSE 0 END), 0)
      AS DECIMAL(6,2)
    ) AS [Sysselsättningsgrad]
  FROM trimmed_arbetstider t
  WHERE DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) >= 0
  GROUP BY CAST(t.ANST_NR AS int), t.MonthStartDate
),
day_n AS (
  SELECT TOP (6000) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS n
  FROM sys.all_objects a CROSS JOIN sys.all_objects b
),
bounds AS (
  SELECT 
    DATEADD(YEAR, -7, DATEFROMPARTS(YEAR(GETDATE()), 1, 1)) AS d0,
    DATEADD(YEAR,  8, DATEFROMPARTS(YEAR(GETDATE()), 1, 1)) AS d1
),
calendar_days AS (
  SELECT DATEADD(DAY, n, b.d0) AS CalendarDate
  FROM day_n
  CROSS JOIN bounds b
  WHERE DATEADD(DAY, n, b.d0) <= b.d1
),
workdays AS (
  SELECT
    cd.CalendarDate,
    DATEFROMPARTS(YEAR(cd.CalendarDate), MONTH(cd.CalendarDate), 1) AS MonthStart
  FROM calendar_days cd
  WHERE (DATEDIFF(DAY, ''19000101'', cd.CalendarDate) % 7) NOT IN (5,6)
    AND NOT EXISTS (
      SELECT 1
      FROM [MKBBIStage].[Agda].[HolidayDateTable] h
      WHERE h.Holiday = ''Yes''
        AND TRY_CONVERT(date, h.HolidayDate) = CAST(cd.CalendarDate AS DATE)
    )
),
NormalWorkingHours AS (
  SELECT MonthStart, COUNT(*) * 8 AS NormalWorkingHours
  FROM workdays
  GROUP BY MonthStart
),
hours_by_month AS (
  SELECT 
    CAST(TA.[dataANST_NR] AS int) AS AnstNrInt,
    DATEFROMPARTS(YEAR(TA.[dataFOM_DATUM_AVR]), MONTH(TA.[dataFOM_DATUM_AVR]), 1) AS MonthStartDate,
    SUM(CAST(REPLACE(TA.[dataOMRANTAL], '','', ''.'') AS DECIMAL(18,4))) AS Hours
  FROM [MKBBIStage].[Agda].[timanställda] TA
  GROUP BY 
    CAST(TA.[dataANST_NR] AS int),
    DATEFROMPARTS(YEAR(TA.[dataFOM_DATUM_AVR]), MONTH(TA.[dataFOM_DATUM_AVR]), 1)
),
hoursreportedfte AS (
  SELECT 
    h.AnstNrInt,
    h.MonthStartDate,
    h.Hours,
    CASE WHEN h.MonthStartDate < ''2025-01-01'' THEN 165 ELSE NW.NormalWorkingHours END AS NormalArbetsTid,
    h.Hours / CASE WHEN h.MonthStartDate < ''2025-01-01'' THEN 165 ELSE NULLIF(NW.NormalWorkingHours,0) END AS FTE
  FROM hours_by_month h
  LEFT JOIN NormalWorkingHours NW ON h.MonthStartDate = NW.MonthStart
),
final_fte AS (
  SELECT 
    AnstNrInt, MonthStartDate, FTE,
    CAST(NULL AS DATE) AS PeriodStart,
    CAST(NULL AS DATE) AS PeriodEnd,
    CAST(NULL AS DECIMAL(6,2)) AS [Sysselsättningsgrad],
    ''TimRapportering'' AS Source,
    CAST(ROUND(Hours, 2) AS DECIMAL(18,2)) AS RapporteradeTimmar,
    NormalArbetsTid AS NormalArbetsTid
  FROM hoursreportedfte

  UNION ALL

  SELECT 
    fte.AnstNrInt, fte.MonthStartDate, fte.FTE,
    fte.PeriodStart, fte.PeriodEnd, fte.[Sysselsättningsgrad],
    ''KontraktuellFte'' AS Source,
    CAST(NULL AS DECIMAL(18,2)) AS RapporteradeTimmar,
    CASE WHEN fte.MonthStartDate < ''2025-01-01'' THEN 165 ELSE NW.NormalWorkingHours END AS NormalArbetsTid
  FROM facttablefte fte
  LEFT JOIN NormalWorkingHours NW ON fte.MonthStartDate = NW.MonthStart
  LEFT JOIN hoursreportedfte hr  ON fte.AnstNrInt = hr.AnstNrInt AND fte.MonthStartDate = hr.MonthStartDate
  WHERE hr.AnstNrInt IS NULL
),
/* === UPPDATERAD RANKNING MOT SCD2 === */
scd2_match AS (
  SELECT 
    H.AnstNrInt,
    H.MonthStartDate,
    TA.[AnställdSk],
    TA.[Tilltrade],
    TA.[TilltradeTom],
    TA.[Anställningsform],
    TA.[Kostnadsställe],
    ROW_NUMBER() OVER (
      PARTITION BY H.AnstNrInt, H.MonthStartDate
      ORDER BY
        CASE 
          WHEN H.MonthStartDate BETWEEN TA.[Tilltrade] AND TA.[TilltradeTom] THEN 0       -- perfekt träff
          WHEN TA.[Tilltrade] <= H.MonthStartDate THEN 1                                   -- närmsta historiska
          ELSE 2                                                                           -- närmsta framtida
        END,
        CASE 
          WHEN H.MonthStartDate BETWEEN TA.[Tilltrade] AND TA.[TilltradeTom] THEN 0
          WHEN TA.[Tilltrade] <= H.MonthStartDate THEN DATEDIFF(DAY, TA.[Tilltrade], H.MonthStartDate)  -- mindre = närmare bakåt
          ELSE DATEDIFF(DAY, H.MonthStartDate, TA.[Tilltrade])                                         -- mindre = närmare framåt
        END ASC
    ) AS rn
  FROM final_fte H
  INNER JOIN [MKBBIDW].[dim].[AnställdSCD2] TA
          ON TA.[AnstNr] = H.AnstNrInt
),
best_match AS (
  SELECT * FROM scd2_match WHERE rn = 1
),
fte_bounds AS (
  SELECT MIN(MonthStartDate) AS MinMonth, MAX(MonthStartDate) AS MaxMonth
  FROM final_fte
  WHERE YEAR(MonthStartDate) >= 2024
),
fa_base_70 AS (
  SELECT CAST(FA.ANST_NR AS int) AS AnstNrInt, CAST(FA.DATUM_IN AS date) AS DatumStartDate, CAST(FA.DATUM_UT AS date) AS DatumSlutDate,
         FA.BELOPP, FA.PRIS, FA.ANTAL, FA.FASTAARTER_TYP, FA.FASTAARTER_NOTERING
  FROM [MKBBIStage].[Agda].[FastaArter] FA WHERE FA.LONEART = 70
),
fa_windowed_70 AS (
  SELECT fa.* FROM fa_base_70 fa CROSS JOIN fte_bounds b
  WHERE fa.DatumStartDate <= EOMONTH(b.MaxMonth) AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= b.MinMonth)
),
fa_match_70 AS (
  SELECT fte.AnstNrInt, fte.MonthStartDate, fa.BELOPP, fa.PRIS, fa.ANTAL, fa.FASTAARTER_TYP, fa.FASTAARTER_NOTERING, fa.DatumStartDate,
         ROW_NUMBER() OVER (PARTITION BY fte.AnstNrInt, fte.MonthStartDate ORDER BY fa.DatumStartDate DESC) AS rn
  FROM final_fte fte
  JOIN fa_windowed_70 fa ON fa.AnstNrInt = fte.AnstNrInt
   AND fa.DatumStartDate < DATEADD(MONTH, 1, fte.MonthStartDate)
   AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= fte.MonthStartDate)
),
fa_month_70 AS (
  SELECT AnstNrInt, MonthStartDate, BELOPP, PRIS, ANTAL, FASTAARTER_TYP, FASTAARTER_NOTERING, DatumStartDate
  FROM fa_match_70 WHERE rn = 1
),
fa_base_10 AS (
  SELECT CAST(FA.ANST_NR AS int) AS AnstNrInt, CAST(FA.DATUM_IN AS date) AS DatumStartDate, CAST(FA.DATUM_UT AS date) AS DatumSlutDate,
         FA.BELOPP, FA.PRIS, FA.ANTAL, FA.FASTAARTER_TYP, FA.FASTAARTER_NOTERING
  FROM [MKBBIStage].[Agda].[FastaArter] FA WHERE FA.LONEART = 10
),
fa_windowed_10 AS (
  SELECT fa.* FROM fa_base_10 fa CROSS JOIN fte_bounds b
  WHERE fa.DatumStartDate <= EOMONTH(b.MaxMonth) AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= b.MinMonth)
),
fa_match_10 AS (
  SELECT fte.AnstNrInt, fte.MonthStartDate, fa.BELOPP, fa.PRIS, fa.ANTAL, fa.FASTAARTER_TYP, fa.FASTAARTER_NOTERING, fa.DatumStartDate,
         ROW_NUMBER() OVER (PARTITION BY fte.AnstNrInt, fte.MonthStartDate ORDER BY fa.DatumStartDate DESC) AS rn
  FROM final_fte fte
  JOIN fa_windowed_10 fa ON fa.AnstNrInt = fte.AnstNrInt
   AND fa.DatumStartDate < DATEADD(MONTH, 1, fte.MonthStartDate)
   AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= fte.MonthStartDate)
),
fa_month_10 AS (
  SELECT AnstNrInt, MonthStartDate, BELOPP, PRIS, ANTAL, FASTAARTER_TYP, FASTAARTER_NOTERING, DatumStartDate
  FROM fa_match_10 WHERE rn = 1
),
fa_base_230 AS (
  SELECT CAST(FA.ANST_NR AS int) AS AnstNrInt, CAST(FA.DATUM_IN AS date) AS DatumStartDate, CAST(FA.DATUM_UT AS date) AS DatumSlutDate,
         FA.BELOPP, FA.PRIS, FA.ANTAL, FA.FASTAARTER_TYP, FA.FASTAARTER_NOTERING
  FROM [MKBBIStage].[Agda].[FastaArter] FA WHERE FA.LONEART = 230
),
fa_windowed_230 AS (
  SELECT fa.* FROM fa_base_230 fa CROSS JOIN fte_bounds b
  WHERE fa.DatumStartDate <= EOMONTH(b.MaxMonth) AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= b.MinMonth)
),
fa_match_230 AS (
  SELECT fte.AnstNrInt, fte.MonthStartDate, fa.BELOPP, fa.PRIS, fa.ANTAL, fa.FASTAARTER_TYP, fa.FASTAARTER_NOTERING, fa.DatumStartDate, fa.DatumSlutDate,
         ROW_NUMBER() OVER (PARTITION BY fte.AnstNrInt, fte.MonthStartDate ORDER BY fa.DatumStartDate DESC) AS rn
  FROM final_fte fte
  JOIN fa_windowed_230 fa ON fa.AnstNrInt = fte.AnstNrInt
   AND fa.DatumStartDate < DATEADD(MONTH, 1, fte.MonthStartDate)
   AND (fa.DatumSlutDate IS NULL OR fa.DatumSlutDate >= fte.MonthStartDate)
),
fa_month_230 AS (
  SELECT AnstNrInt, MonthStartDate, BELOPP, PRIS, ANTAL, FASTAARTER_TYP, FASTAARTER_NOTERING, DatumStartDate, DatumSlutDate
  FROM fa_match_230 WHERE rn = 1
)
INSERT INTO [fact].[FTE](
  [AnställdsSk],
  [AnstNr],
  [KostnadsStälle],
  [AnställningsForm],
  [Datum],
  [Fte],
  [TillTrädesDatum],
  [TillTrädeTomDatum],
  [Källa],
  [KontraktStartMånad],
  [KontraktsSlutMånad],
  [Sysselsättningsgrad],
  [RapporteradeTimmar],
  [NormalArbetsTid],
  [Månadslön],
  [Timlön],
  [Timmar*Timlön],
  [Lönetillägg],
  [Lönetillägg Startdatum],
  [Lönetillägg Slutdatum],
  [MånadsLönPlusTillägg]
)
SELECT 
  TRY_CONVERT(INT, bm.[AnställdSk]),
  H.AnstNrInt,
  CAST(COALESCE(TRY_CONVERT(INT, TRY_CONVERT(DECIMAL(18,2), REPLACE(CONVERT(VARCHAR(50), bm.[Kostnadsställe]), '','', ''.''))),0) AS INT),
  CAST(bm.[Anställningsform] AS VARCHAR(50)),
  CAST(H.[MonthStartDate] AS DATE),
  CAST(H.[FTE] AS DECIMAL(18,2)),
  CAST(bm.[Tilltrade] AS DATE),
  CAST(bm.[TilltradeTom] AS DATE),
  CAST(H.[Source] AS VARCHAR(30)),
  CAST(H.[PeriodStart] AS DATE),
  CAST(H.[PeriodEnd]  AS DATE),
  CAST(H.[Sysselsättningsgrad] AS DECIMAL(18,2)),
  CAST(COALESCE(H.[RapporteradeTimmar], CAST(0.0 AS DECIMAL(18,2))) AS DECIMAL(18,2)),
  CAST(H.[NormalArbetsTid]   AS INT),
  CASE WHEN COALESCE(H.[RapporteradeTimmar], CAST(0.0 AS DECIMAL(18,2))) = 0 THEN CAST(L70.BELOPP AS DECIMAL(14,2)) ELSE CAST(NULL AS DECIMAL(14,2)) END,
  CASE WHEN COALESCE(H.[RapporteradeTimmar], CAST(0.0 AS DECIMAL(18,2))) > 0 THEN CAST(L10.PRIS AS DECIMAL(14,2)) ELSE CAST(NULL AS DECIMAL(14,2)) END,
  CAST(CAST(COALESCE(H.[RapporteradeTimmar], CAST(0.0 AS DECIMAL(18,2))) AS DECIMAL(14,2)) * CAST(COALESCE(L10.PRIS, CAST(0.0 AS DECIMAL(14,2))) AS DECIMAL(14,2)) AS DECIMAL(14,2)),
  CAST(COALESCE(L230.BELOPP, CAST(0.0 AS DECIMAL(14,2))) AS DECIMAL(14,2)),
  CAST(L230.DatumStartDate AS DATE),
  CAST(L230.DatumSlutDate AS DATE),
  COALESCE(CASE WHEN COALESCE(H.[RapporteradeTimmar], CAST(0.0 AS DECIMAL(18,2))) = 0 THEN CAST(L70.BELOPP AS DECIMAL(14,2)) ELSE CAST(NULL AS DECIMAL(14,2)) END, CAST(0.0 AS DECIMAL(14,2)))
  + CAST(COALESCE(L230.BELOPP, CAST(0.0 AS DECIMAL(14,2))) AS DECIMAL(14,2))
FROM final_fte H
LEFT JOIN best_match bm 
  ON H.AnstNrInt = bm.AnstNrInt 
 AND H.MonthStartDate = bm.MonthStartDate
LEFT JOIN fa_month_70  L70
  ON L70.AnstNrInt = H.AnstNrInt
 AND L70.MonthStartDate = H.MonthStartDate
LEFT JOIN fa_month_10  L10
  ON L10.AnstNrInt = H.AnstNrInt
 AND L10.MonthStartDate = H.MonthStartDate
LEFT JOIN fa_month_230 L230
  ON L230.AnstNrInt = H.AnstNrInt
 AND L230.MonthStartDate = H.MonthStartDate
WHERE YEAR(H.MonthStartDate) >= 2024
OPTION (RECOMPILE);';

    EXEC [MKBBIDW].sys.sp_executesql @sql;

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(N'LoadFactFTE failed: %s',16,1,@Err);
  END CATCH
END
