USE [MKBBIStage]
GO
/****** Object:  StoredProcedure [dbo].[LoadDimAnställdSCD2] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LoadDimAnställdSCD2]
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    /* 0) Säkerställ mål-tabellen i MKBBIDW + nya justerade kolumner */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[dim].[AnställdSCD2]'', N''U'') IS NULL
BEGIN
  CREATE TABLE [dim].[AnställdSCD2](
    [AnstNr]           INT           NOT NULL,
    [AnställdSk]       BIGINT        NOT NULL,
    [Kostnadsställe]   INT           NULL,
    [Anställningsform] NVARCHAR(100) NULL,
    [Befattning]       NVARCHAR(200) NULL,
    [Tilltrade]        DATE          NOT NULL,
    [TilltradeTom]     DATE          NOT NULL,
    [Slag]             NVARCHAR(100) NULL,
    [TillträdesDatumJusteradScd2]    DATE NULL,
    [TillträdesTomDatumJusteradScd2] DATE NULL
  );
END;

IF COL_LENGTH(N''[dim].[AnställdSCD2]'', N''Befattning'') IS NULL
  ALTER TABLE [dim].[AnställdSCD2] ADD [Befattning] NVARCHAR(200) NULL;
IF COL_LENGTH(N''[dim].[AnställdSCD2]'', N''Slag'') IS NULL
  ALTER TABLE [dim].[AnställdSCD2] ADD [Slag] NVARCHAR(100) NULL;
IF COL_LENGTH(N''[dim].[AnställdSCD2]'',''TillträdesDatumJusteradScd2'') IS NULL
  ALTER TABLE [dim].[AnställdSCD2] ADD [TillträdesDatumJusteradScd2] DATE NULL;
IF COL_LENGTH(N''[dim].[AnställdSCD2]'',''TillträdesTomDatumJusteradScd2'') IS NULL
  ALTER TABLE [dim].[AnställdSCD2] ADD [TillträdesTomDatumJusteradScd2] DATE NULL;

IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID(N''[dim].[AnställdSCD2]'') AND name = N''IX_AnställdSCD2_Lookups'')
  DROP INDEX [IX_AnställdSCD2_Lookups] ON [dim].[AnställdSCD2];

CREATE NONCLUSTERED INDEX [IX_AnställdSCD2_Lookups]
  ON [dim].[AnställdSCD2]([AnstNr],[Tilltrade])
  INCLUDE([TilltradeTom],[Anställningsform],[Kostnadsställe],[Befattning],[Slag],
          [TillträdesDatumJusteradScd2],[TillträdesTomDatumJusteradScd2]);
';

    /* 1) Töm mål — avaktivera triggers för att undvika rekursion/append */
    EXEC [MKBBIDW].sys.sp_executesql N'
DISABLE TRIGGER ALL ON [dim].[AnställdSCD2];
BEGIN TRY
    BEGIN TRY
        TRUNCATE TABLE [dim].[AnställdSCD2];
    END TRY
    BEGIN CATCH
        -- Om TRUNCATE inte går (FK/permissions) → DELETE men med triggers avstängda
        DELETE FROM [dim].[AnställdSCD2] WITH (TABLOCK);
    END CATCH;
END TRY
BEGIN CATCH
    ENABLE TRIGGER ALL ON [dim].[AnställdSCD2];
    THROW;
END CATCH;
ENABLE TRIGGER ALL ON [dim].[AnställdSCD2];
';

    /* 2) SCD2-bygg + Justerade datum i två pass */
    DECLARE @sql NVARCHAR(MAX) = N'
;WITH
EmploymentPeriods AS (
  SELECT ANST_NR, TILLTRADE,
         COALESCE(TILLTRADETOM, CONVERT(date,''9999-12-31'')) AS TILLTRADETOM,
         ANSTALLNINGSFORM
  FROM [MKBBIStage].[Agda].[Anställningsform]
),
CostCenterChanges AS (
  SELECT ANST_NR,
         KONTERINGFRANTID AS ChangeDate,
         COALESCE(KONTERINGTOMTID, CONVERT(date,''9999-12-31'')) AS ChangeEnd,
         DATA AS KostnadsStälle
  FROM [MKBBIStage].[Agda].[Konteringar]
  WHERE KONTERING = N''Kostnadsställe''
),

/* Slag: events -> spann */
SlagEventsRaw AS (
  SELECT
    k.ANST_NR,
    CAST(k.KONTERINGFRANTID AS date) AS ChangeDate,
    CAST(k.DATA AS NVARCHAR(100))     AS Slag,
    ROW_NUMBER() OVER (
      PARTITION BY k.ANST_NR, CAST(k.KONTERINGFRANTID AS date)
      ORDER BY ISNULL(k.KONTERINGTOMTID, CONVERT(date,''9999-12-31'')) DESC
    ) AS rn
  FROM [MKBBIStage].[Agda].[Konteringar] k
  WHERE k.KONTERING = N''Slag''
),
SlagEvents AS (
  SELECT ANST_NR, ChangeDate, Slag
  FROM SlagEventsRaw
  WHERE rn = 1
),
SlagSpans AS (
  SELECT
    e.ANST_NR,
    e.ChangeDate,
    e.Slag,
    DATEADD(DAY,-1,
      LEAD(e.ChangeDate) OVER (PARTITION BY e.ANST_NR ORDER BY e.ChangeDate)
    ) AS ChangeEnd
  FROM SlagEvents e
),
SlagSpansFinal AS (
  SELECT
    ANST_NR,
    ChangeDate,
    Slag,
    COALESCE(ChangeEnd, CONVERT(date,''9999-12-31'')) AS ChangeEnd
  FROM SlagSpans
),

/* Befattningar – överlappsanering (oförändrat) */
Positions_Base AS (
  SELECT
    CAST(B.ANST_NR AS INT)              AS ANST_NR,
    CAST(B.BEFATTNING AS NVARCHAR(200)) AS Befattning,
    CAST(COALESCE(B.BEFATTNINGFOMDATUM, B.BEFATTNINGFOMDATUM, B.BEFATTNINGTOMDATUM) AS DATE) AS StartDt,
    CAST(COALESCE(B.BEFATTNINGTOMDATUM, B.BEFATTNINGTOMDATUM, CONVERT(date,''9999-12-31'')) AS DATE) AS EndDt
  FROM [MKBBIStage].[Agda].[Befattningar] B
  WHERE B.BEFATTNING IS NOT NULL
),
Positions_Clean AS (
  SELECT * FROM Positions_Base
  WHERE StartDt IS NOT NULL AND StartDt <= EndDt
),
OverlapBase AS (
  SELECT p.*,
         MAX(p.EndDt) OVER (PARTITION BY p.ANST_NR ORDER BY p.StartDt, p.Befattning ROWS UNBOUNDED PRECEDING) AS RunMaxEnd
  FROM Positions_Clean p
),
OverlapGroups AS (
  SELECT o.*,
         LAG(o.RunMaxEnd) OVER (PARTITION BY o.ANST_NR ORDER BY o.StartDt, o.Befattning) AS PrevRunMaxEnd,
         CASE WHEN o.StartDt > ISNULL(LAG(o.RunMaxEnd) OVER (PARTITION BY o.ANST_NR ORDER BY o.StartDt, o.Befattning), CONVERT(date,''1900-01-01'')) THEN 1 ELSE 0 END AS NewIslandFlag
  FROM OverlapBase o
),
Islands AS (
  SELECT g.*,
         SUM(g.NewIslandFlag) OVER (PARTITION BY g.ANST_NR ORDER BY g.StartDt, g.Befattning ROWS UNBOUNDED PRECEDING) AS IslandId
  FROM OverlapGroups g
),
Winners AS (
  SELECT * FROM (
    SELECT i.*,
           ROW_NUMBER() OVER (PARTITION BY i.ANST_NR, i.IslandId ORDER BY i.StartDt DESC, i.EndDt DESC, i.Befattning DESC) AS rn
    FROM Islands i
  ) x WHERE rn = 1
),
Deoverlapped AS (
  SELECT i.ANST_NR, i.Befattning, i.StartDt,
         CASE WHEN i.StartDt = w.StartDt AND i.EndDt = w.EndDt AND i.Befattning = w.Befattning
              THEN i.EndDt
              ELSE CASE WHEN i.EndDt <= DATEADD(DAY,-1, w.StartDt) THEN i.EndDt ELSE DATEADD(DAY,-1, w.StartDt) END
         END AS EndDt_Adj
  FROM Islands i
  INNER JOIN Winners w ON w.ANST_NR = i.ANST_NR AND w.IslandId = i.IslandId
),
Deoverlapped_Valid AS (
  SELECT * FROM Deoverlapped WHERE StartDt <= EndDt_Adj
),
Trimmed AS (
  SELECT d.ANST_NR, d.Befattning, d.StartDt,
         CASE WHEN LEAD(d.StartDt) OVER (PARTITION BY d.ANST_NR ORDER BY d.StartDt, d.Befattning) IS NULL
              THEN d.EndDt_Adj
              ELSE CASE WHEN d.EndDt_Adj < DATEADD(DAY,-1, LEAD(d.StartDt) OVER (PARTITION BY d.ANST_NR ORDER BY d.StartDt, d.Befattning))
                        THEN d.EndDt_Adj ELSE DATEADD(DAY,-1, LEAD(d.StartDt) OVER (PARTITION BY d.ANST_NR ORDER BY d.StartDt, d.Befattning)) END
         END AS EndDt_Final
  FROM Deoverlapped_Valid d
),
Positions_Final AS (
  SELECT * FROM Trimmed WHERE StartDt <= EndDt_Final
),

/* Alla brytpunkter (Start samt End+1) inkl. Slag-spann */
AllChangePoints AS (
  SELECT ANST_NR, TILLTRADE AS ChangeDate FROM EmploymentPeriods
  UNION ALL
  SELECT ANST_NR, CASE WHEN TILLTRADETOM < CONVERT(date,''9999-12-31'') THEN DATEADD(DAY,1, TILLTRADETOM) ELSE CONVERT(date,''9999-12-31'') END FROM EmploymentPeriods

  UNION ALL
  SELECT ANST_NR, ChangeDate FROM CostCenterChanges
  UNION ALL
  SELECT ANST_NR, CASE WHEN ChangeEnd   < CONVERT(date,''9999-12-31'') THEN DATEADD(DAY,1, ChangeEnd)   ELSE CONVERT(date,''9999-12-31'') END FROM CostCenterChanges

  UNION ALL
  SELECT ANST_NR, ChangeDate FROM SlagSpansFinal
  UNION ALL
  SELECT ANST_NR, CASE WHEN ChangeEnd   < CONVERT(date,''9999-12-31'') THEN DATEADD(DAY,1, ChangeEnd)   ELSE CONVERT(date,''9999-12-31'') END FROM SlagSpansFinal

  UNION ALL
  SELECT ANST_NR, StartDt FROM Positions_Final
  UNION ALL
  SELECT ANST_NR, CASE WHEN EndDt_Final < CONVERT(date,''9999-12-31'') THEN DATEADD(DAY,1, EndDt_Final) ELSE CONVERT(date,''9999-12-31'') END FROM Positions_Final
),
RankedPoints AS (
  SELECT acp.ANST_NR, acp.ChangeDate,
         LEAD(acp.ChangeDate) OVER (PARTITION BY acp.ANST_NR ORDER BY acp.ChangeDate) AS NextDate
  FROM (SELECT DISTINCT ANST_NR, ChangeDate FROM AllChangePoints) acp
),
ValidSlices AS (
  SELECT rp.ANST_NR,
         rp.ChangeDate AS TILLTRADE,
         DATEADD(DAY,-1, rp.NextDate) AS TILLTRADETOM
  FROM RankedPoints rp
  WHERE rp.NextDate IS NOT NULL
),

/* Attribut – populera endast inom anställningsperiod (INNER JOIN) */
AddAttributes AS (
  SELECT s.ANST_NR,
         s.TILLTRADE,
         CASE WHEN s.TILLTRADETOM > e.TILLTRADETOM THEN e.TILLTRADETOM ELSE s.TILLTRADETOM END AS TILLTRADETOM,
         e.ANSTALLNINGSFORM,
         k.KostnadsStälle,
         sl.Slag,
         p.Befattning
  FROM ValidSlices s
  INNER JOIN EmploymentPeriods e
    ON s.ANST_NR = e.ANST_NR
   AND s.TILLTRADE BETWEEN e.TILLTRADE AND e.TILLTRADETOM
  LEFT JOIN CostCenterChanges k
    ON s.ANST_NR = k.ANST_NR
   AND s.TILLTRADE BETWEEN k.ChangeDate AND k.ChangeEnd
  LEFT JOIN SlagSpansFinal sl
    ON s.ANST_NR = sl.ANST_NR
   AND s.TILLTRADE BETWEEN sl.ChangeDate AND sl.ChangeEnd
  LEFT JOIN Positions_Final p
    ON s.ANST_NR = p.ANST_NR
   AND s.TILLTRADE BETWEEN p.StartDt AND p.EndDt_Final
),
WithLags AS (
  SELECT a.*,
         LAG(a.ANSTALLNINGSFORM) OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevForm,
         LAG(a.KostnadsStälle)   OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevKst,
         LAG(a.Slag)             OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevSlag,
         LAG(a.TILLTRADETOM)     OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevEnd,
         LAG(a.Befattning)       OVER (PARTITION BY a.ANST_NR ORDER BY a.TILLTRADE) AS PrevBef
  FROM AddAttributes a
),
CollapsedSCD2 AS (
  SELECT
    ANST_NR,
    MIN(TILLTRADE)                  AS TILLTRADE,
    MAX(CAST(TILLTRADETOM AS DATE)) AS TILLTRADETOM,
    MAX(ANSTALLNINGSFORM)           AS ANSTALLNINGSFORM,
    MAX(KostnadsStälle)             AS KostnadsStälle,
    MAX(Slag)                       AS Slag,
    MAX(Befattning)                 AS Befattning
  FROM (
    SELECT w.*,
           SUM(CASE 
                 WHEN ISNULL(w.PrevForm, N''§'') <> ISNULL(w.ANSTALLNINGSFORM, N''§'')
                   OR ISNULL(w.PrevKst,  N''§'') <> ISNULL(w.KostnadsStälle,  N''§'')
                   OR ISNULL(w.PrevSlag, N''§'') <> ISNULL(w.Slag,            N''§'')
                   OR ISNULL(w.PrevBef,  N''§'') <> ISNULL(w.Befattning,      N''§'')
                   OR w.PrevEnd IS NULL OR DATEDIFF(DAY, w.PrevEnd, w.TILLTRADE) > 1
                 THEN 1 ELSE 0 END
           ) OVER (PARTITION BY w.ANST_NR ORDER BY w.TILLTRADE ROWS UNBOUNDED PRECEDING) AS GroupId
    FROM WithLags w
  ) g
  GROUP BY ANST_NR, GroupId
),

/* ===== PASS 1: räkna preliminärt slut utan start-snäppning ===== */
Pass1 AS (
  SELECT
    c.*,
    LAG(c.TILLTRADETOM) OVER (PARTITION BY c.ANST_NR ORDER BY c.TILLTRADE) AS PrevEnd_raw,
    LEAD(c.TILLTRADE)    OVER (PARTITION BY c.ANST_NR ORDER BY c.TILLTRADE) AS NextStart
  FROM CollapsedSCD2 c
),
Pass1_WithStart AS (
  SELECT
    p.*,
    p.TILLTRADE AS StartAdj0
  FROM Pass1 p
),
Pass1_End AS (
  SELECT
    s.*,
    CASE 
      WHEN s.NextStart IS NULL 
        THEN COALESCE(s.TILLTRADETOM, CONVERT(date,''9999-12-31''))
      WHEN YEAR(s.NextStart)=YEAR(s.StartAdj0) AND MONTH(s.NextStart)=MONTH(s.StartAdj0)
        THEN DATEADD(DAY,-1, s.NextStart)
      ELSE EOMONTH(DATEADD(MONTH,-1, s.NextStart))
    END AS EndAdj0
  FROM Pass1_WithStart s
),
Pass1_Clamped AS (
  SELECT
    e.*,
    CASE 
      WHEN e.EndAdj0 > COALESCE(e.TILLTRADETOM, CONVERT(date,''9999-12-31'')) THEN COALESCE(e.TILLTRADETOM, CONVERT(date,''9999-12-31''))
      ELSE e.EndAdj0
    END AS EndAdj0_WithinActual
  FROM Pass1_End e
),
Pass1_Final AS (
  SELECT
    c.*,
    CASE 
      WHEN c.EndAdj0_WithinActual < c.StartAdj0 THEN c.StartAdj0
      ELSE c.EndAdj0_WithinActual
    END AS TilltradeTomAdj0
  FROM Pass1_Clamped c
),

/* ===== PASS 2: snäpp start baserat på FÖREGÅENDE JUSTERADE SLUT ===== */
Pass2 AS (
  SELECT
    f.*,
    LAG(f.TilltradeTomAdj0) OVER (PARTITION BY f.ANST_NR ORDER BY f.TILLTRADE) AS PrevEndAdj
  FROM Pass1_Final f
),
StartCalc_Final AS (
  SELECT
    p2.*,
    CASE
      WHEN p2.PrevEndAdj IS NULL THEN p2.TILLTRADE
      WHEN p2.PrevEndAdj = EOMONTH(DATEADD(MONTH,-1, p2.TILLTRADE))
        THEN DATEFROMPARTS(YEAR(p2.TILLTRADE), MONTH(p2.TILLTRADE), 1)
      ELSE p2.TILLTRADE
    END AS StartAdj
  FROM Pass2 p2
),
EndCalc_Final AS (
  SELECT
    s.*,
    CASE 
      WHEN s.NextStart IS NULL 
        THEN COALESCE(s.TILLTRADETOM, CONVERT(date,''9999-12-31''))
      WHEN YEAR(s.NextStart)=YEAR(s.StartAdj) AND MONTH(s.NextStart)=MONTH(s.StartAdj)
        THEN DATEADD(DAY,-1, s.NextStart)
      ELSE EOMONTH(DATEADD(MONTH,-1, s.NextStart))
    END AS EndAdjCandidate
  FROM StartCalc_Final s
),
FinalSCD2 AS (
  SELECT
    e.*,
    CASE 
      WHEN e.EndAdjCandidate > COALESCE(e.TILLTRADETOM, CONVERT(date,''9999-12-31'')) THEN COALESCE(e.TILLTRADETOM, CONVERT(date,''9999-12-31''))
      ELSE e.EndAdjCandidate
    END AS EndAdjClampedToActual
  FROM EndCalc_Final e
),
FinalSCD2_Clamped AS (
  SELECT
    f.*,
    CASE 
      WHEN f.EndAdjClampedToActual < f.StartAdj THEN f.StartAdj
      ELSE f.EndAdjClampedToActual
    END AS TilltradeTomAdj,
    ROW_NUMBER() OVER (ORDER BY TRY_CAST(f.ANST_NR AS INT), f.TILLTRADE) AS [AnställdSK]
  FROM FinalSCD2 f
)

INSERT INTO [dim].[AnställdSCD2](
    [AnstNr],
    [AnställdSk],
    [Kostnadsställe],
    [Anställningsform],
    [Befattning],
    [Tilltrade],
    [TilltradeTom],
    [Slag],
    [TillträdesDatumJusteradScd2],
    [TillträdesTomDatumJusteradScd2]
)
SELECT
  CAST([ANST_NR] AS INT)                    AS [AnstNr],
  CAST([AnställdSK] AS BIGINT) AS AnställdSK,
  TRY_CAST([KostnadsStälle] AS INT)         AS [Kostnadsställe],
  CAST([ANSTALLNINGSFORM] AS NVARCHAR(100)) AS [Anställningsform],
  CAST([Befattning] AS NVARCHAR(200))       AS [Befattning],
  CAST([TILLTRADE] AS DATE)                 AS [Tilltrade],
  CAST([TILLTRADETOM] AS DATE)              AS [TilltradeTom],
  CAST([Slag] AS NVARCHAR(100))             AS [Slag],
  CAST([StartAdj] AS DATE)                  AS [TillträdesDatumJusteradScd2],
  CAST([TilltradeTomAdj] AS DATE)           AS [TillträdesTomDatumJusteradScd2]
FROM FinalSCD2_Clamped;
';

    --PRINT LEFT(@sql, 4000); -- (valfritt) för felsökning

    EXEC [MKBBIDW].sys.sp_executesql @sql;

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(N'LoadDimAnställdSCD2 failed: %s', 16, 1, @Err);
  END CATCH
END
GO

EXEC [dbo].[LoadDimAnställdSCD2];
GO
