USE [MKBBIStage]
GO
/****** Object:  StoredProcedure [dbo].[LoadFactFTE]    Script Date: 2025-09-09 20:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LoadFactFTE]
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    /* 0) Byt namn på gammal tabell i MKBBIDW om FTE inte redan finns */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[fact].[FTE]'', N''U'') IS NULL
BEGIN
  IF OBJECT_ID(N''[fact].[FactFTE]'', N''U'') IS NOT NULL
  BEGIN
    EXEC sp_rename N''fact.FactFTE'', N''FTE'';
  END
END
';

    /* 1) Säkerställ mål-tabellen [fact].[FTE] och kolumner/index i MKBBIDW */
    EXEC [MKBBIDW].sys.sp_executesql N'
IF OBJECT_ID(N''[fact].[FTE]'', N''U'') IS NULL
BEGIN
  CREATE TABLE [fact].[FTE](
    [AnställdsSk]           INT            NOT NULL,
    [AnstNr]                INT            NOT NULL,
    [KostnadsStälle]        INT            NULL,
    [AnställningsForm]      VARCHAR(50)    NULL,
    [Datum]                 DATE           NOT NULL,
    [Fte]                   DECIMAL(18,2)  NULL,
    [TillTrädesDatum]       DATE           NULL,
    [TillTrädeTomDatum]     DATE           NULL,
    [Källa]                 VARCHAR(30)    NULL,
    [KontraktStartMånad]    DATE           NULL,
    [KontraktsSlutMånad]    DATE           NULL,
    [Sysselsättningsgrad]   DECIMAL(18,2)  NULL,
    [RapporteradeTimmar]    DECIMAL(18,2)  NULL,
    [NormalArbetsTid]       INT            NULL
  );
END;

/* Lägg till saknade kolumner (idempotent) */
IF COL_LENGTH(N''[fact].[FTE]'', N''KontraktStartMånad'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [KontraktStartMånad] DATE NULL;
IF COL_LENGTH(N''[fact].[FTE]'', N''KontraktsSlutMånad'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [KontraktsSlutMånad] DATE NULL;
IF COL_LENGTH(N''[fact].[FTE]'', N''Sysselsättningsgrad'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [Sysselsättningsgrad] DECIMAL(18,2) NULL;
IF COL_LENGTH(N''[fact].[FTE]'', N''RapporteradeTimmar'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [RapporteradeTimmar] DECIMAL(18,2) NULL;
IF COL_LENGTH(N''[fact].[FTE]'', N''NormalArbetsTid'') IS NULL
  ALTER TABLE [fact].[FTE] ADD [NormalArbetsTid] INT NULL;

/* Säkerställ exakt DECIMAL(18,2) på RapporteradeTimmar om kolumnen redan fanns */
IF EXISTS (
  SELECT 1
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_SCHEMA = ''fact''
    AND TABLE_NAME  = ''FTE''
    AND COLUMN_NAME = ''RapporteradeTimmar''
    AND (DATA_TYPE <> ''decimal'' OR NUMERIC_PRECISION <> 18 OR NUMERIC_SCALE <> 2)
)
BEGIN
  ALTER TABLE [fact].[FTE] ALTER COLUMN [RapporteradeTimmar] DECIMAL(18,2) NULL;
END;

/* Index för vanliga frågor */
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID(N''[fact].[FTE]'') AND name = N''IX_FTE_Anst_Datum'')
  CREATE NONCLUSTERED INDEX [IX_FTE_Anst_Datum]
    ON [fact].[FTE]([AnställdsSk],[Datum])
    INCLUDE([Fte],[KostnadsStälle],[AnställningsForm],[Källa],[RapporteradeTimmar],[NormalArbetsTid]);
';

    /* 2) Töm mål (TRUNCATE → fallback DELETE) */
    BEGIN TRY
      EXEC [MKBBIDW].sys.sp_executesql N'TRUNCATE TABLE [fact].[FTE];';
    END TRY
    BEGIN CATCH
      EXEC [MKBBIDW].sys.sp_executesql N'DELETE FROM [fact].[FTE];';
    END CATCH;

    /* 3) Bygg och ladda – körs i MKBBIDW (ditt nya skript, med 2 dec för RapporteradeTimmar) */
    DECLARE @sql NVARCHAR(MAX) = N'
;WITH
/* ---------- ICKE-REKURSIV MÅNADSKALENDER ---------- */
month_n AS (
  SELECT TOP (240) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS n
  FROM sys.all_objects
),
calendar AS (
  SELECT DATEADD(MONTH, n, CAST(''2020-01-01'' AS DATE)) AS MonthStartDate
  FROM month_n
  WHERE DATEADD(MONTH, n, ''2020-01-01'') <= EOMONTH(GETDATE())
),

/* ---------- TRIMMA ARBETSTIDER ---------- */
trimmed_arbetstider AS (
  SELECT
    A.ANST_NR,
    C.MonthStartDate,
    CASE WHEN MAXDATES.StartDate > C.MonthStartDate THEN MAXDATES.StartDate ELSE C.MonthStartDate END AS PeriodStart,
    CASE WHEN MAXDATES.EndDate   < EOMONTH(C.MonthStartDate) THEN MAXDATES.EndDate   ELSE EOMONTH(C.MonthStartDate) END AS PeriodEnd,
    TRY_CONVERT(DECIMAL(9,4), REPLACE(REPLACE(A.SYSSELSATTNINGSGRAD, ''%'', ''''), '','', ''.'')) AS SysselsattningsgradDec
  FROM [MKBBIStage].[Agda].[Arbetstider] A
  JOIN [MKBBIStage].[Agda].[Anställningar] E ON A.ANST_NR = E.ANST_NR
  JOIN calendar C 
    ON COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') >= C.MonthStartDate
   AND A.ARBETSTIDFRANTID <= EOMONTH(C.MonthStartDate)
  CROSS APPLY (
    SELECT
      CASE WHEN A.ARBETSTIDFRANTID > E.ANSTALLNINGSDATUM THEN A.ARBETSTIDFRANTID ELSE E.ANSTALLNINGSDATUM END AS StartDate,
      CASE WHEN COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') < ISNULL(E.AVGANGSDATUM, ''9999-12-31'')
           THEN COALESCE(A.ARBETSTIDTOMTID, ''9999-12-31'') ELSE ISNULL(E.AVGANGSDATUM, ''9999-12-31'') END AS EndDate
  ) AS MAXDATES
),
facttablefte AS (
  /* FTE per månad från kontrakt: dag-vägt månadsmedel av syss.grad */
  SELECT
    t.ANST_NR,
    t.MonthStartDate,
    SUM(
      ROUND(
        CAST(DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1 AS FLOAT)
        / CAST(DAY(EOMONTH(t.MonthStartDate)) AS FLOAT)
        * (COALESCE(t.SysselsattningsgradDec, 0) / 100.0), 4)
    ) AS FTE,
    MIN(t.PeriodStart) AS PeriodStart,
    MAX(t.PeriodEnd)   AS PeriodEnd,
    CAST(
      SUM(CASE WHEN t.SysselsattningsgradDec IS NOT NULL 
               THEN (DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1) * t.SysselsattningsgradDec 
               ELSE 0 END) * 1.0
      / NULLIF(SUM(CASE WHEN t.SysselsattningsgradDec IS NOT NULL 
                        THEN (DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) + 1) 
                        ELSE 0 END), 0)
      AS DECIMAL(6,2)
    ) AS [Sysselsättningsgrad]
  FROM trimmed_arbetstider t
  WHERE DATEDIFF(DAY, t.PeriodStart, t.PeriodEnd) >= 0
  GROUP BY t.ANST_NR, t.MonthStartDate
),

/* ---------- DAGSKALENDER & VARDAGAR ---------- */
day_n AS (
  SELECT TOP (6000) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS n
  FROM sys.all_objects a CROSS JOIN sys.all_objects b
),
bounds AS (
  SELECT 
    DATEADD(YEAR, -7, DATEFROMPARTS(YEAR(GETDATE()), 1, 1)) AS d0,
    DATEADD(YEAR,  8, DATEFROMPARTS(YEAR(GETDATE()), 1, 1)) AS d1
),
calendar_days AS (
  SELECT DATEADD(DAY, n, b.d0) AS CalendarDate
  FROM day_n
  CROSS JOIN bounds b
  WHERE DATEADD(DAY, n, b.d0) <= b.d1
),
workdays AS (
  SELECT
    cd.CalendarDate,
    DATEFROMPARTS(YEAR(cd.CalendarDate), MONTH(cd.CalendarDate), 1) AS MonthStart
  FROM calendar_days cd
  WHERE (DATEDIFF(DAY, ''19000101'', cd.CalendarDate) % 7) NOT IN (5,6)  -- 0=mån … 6=sön ⇒ 5=lör,6=sön
    AND NOT EXISTS (
      SELECT 1
      FROM [MKBBIStage].[Agda].[HolidayDateTable] h
      WHERE h.Holiday = ''Yes''
        AND TRY_CONVERT(date, h.HolidayDate) = CAST(cd.CalendarDate AS DATE)
    )
),
NormalWorkingHours AS (
  SELECT
    MonthStart,
    COUNT(*) * 8 AS NormalWorkingHours
  FROM workdays
  GROUP BY MonthStart
),

/* ---------- TIMRAPPORTERING ---------- */
hours_by_month AS (
  SELECT 
    TA.[dataANST_NR] AS ANST_NR,
    DATEFROMPARTS(YEAR(TA.[dataFOM_DATUM_AVR]), MONTH(TA.[dataFOM_DATUM_AVR]), 1) AS MonthStartDate,
    SUM(CAST(REPLACE(TA.[dataOMRANTAL], '','', ''.'') AS DECIMAL(18,4))) AS Hours
  FROM [MKBBIStage].[Agda].[timanställda] TA
  GROUP BY 
    TA.[dataANST_NR],
    DATEFROMPARTS(YEAR(TA.[dataFOM_DATUM_AVR]), MONTH(TA.[dataFOM_DATUM_AVR]), 1)
),
hoursreportedfte AS (
  SELECT 
    h.ANST_NR,
    h.MonthStartDate,
    h.Hours,
    CASE 
      WHEN h.MonthStartDate < ''2025-01-01'' THEN 165 
      ELSE NW.NormalWorkingHours 
    END AS NormalArbetsTid,
    h.Hours / CASE 
                WHEN h.MonthStartDate < ''2025-01-01'' THEN 165 
                ELSE NULLIF(NW.NormalWorkingHours,0) 
              END AS FTE
  FROM hours_by_month h
  LEFT JOIN NormalWorkingHours NW
    ON h.MonthStartDate = NW.MonthStart
),

/* ---------- KOMBINERA KÄLLOR ---------- */
final_fte AS (
  SELECT 
    ANST_NR, 
    MonthStartDate, 
    FTE, 
    CAST(NULL AS DATE) AS PeriodStart,
    CAST(NULL AS DATE) AS PeriodEnd,
    CAST(NULL AS DECIMAL(6,2)) AS [Sysselsättningsgrad],
    ''TimRapportering'' AS Source,
    CAST(ROUND(Hours, 2) AS DECIMAL(18,2)) AS RapporteradeTimmar,
    NormalArbetsTid                       AS NormalArbetsTid
  FROM hoursreportedfte

  UNION ALL

  SELECT 
    fte.ANST_NR, 
    fte.MonthStartDate, 
    fte.FTE,
    fte.PeriodStart,
    fte.PeriodEnd,
    fte.[Sysselsättningsgrad],
    ''KontraktuellFte'' AS Source,
    CAST(NULL AS DECIMAL(18,2)) AS RapporteradeTimmar,
    CASE 
      WHEN fte.MonthStartDate < ''2025-01-01'' THEN 165
      ELSE NW.NormalWorkingHours
    END AS NormalArbetsTid
  FROM facttablefte fte
  LEFT JOIN NormalWorkingHours NW
    ON fte.MonthStartDate = NW.MonthStart
  LEFT JOIN hoursreportedfte hr 
    ON fte.ANST_NR = hr.ANST_NR 
   AND fte.MonthStartDate = hr.MonthStartDate
  WHERE hr.ANST_NR IS NULL
),

/* ---------- MATCHA SCD2 PÅ MÅNAD ---------- */
scd2_match AS (
  SELECT 
    H.ANST_NR, H.MonthStartDate,
    TA.[AnställdSk], TA.[Tilltrade], TA.[TilltradeTom], TA.[Anställningsform], TA.[Kostnadsställe],
    ROW_NUMBER() OVER (
      PARTITION BY H.ANST_NR, H.MonthStartDate
      ORDER BY 
        CASE 
          WHEN H.MonthStartDate BETWEEN TA.[Tilltrade] AND TA.[TilltradeTom] THEN 0
          WHEN H.MonthStartDate < TA.[Tilltrade] THEN 1
          ELSE 2
        END, TA.[Tilltrade] DESC
    ) AS rn
  FROM final_fte H
  INNER JOIN [MKBBIDW].[dim].[AnställdSCD2] TA 
    ON H.ANST_NR = TA.[AnstNr]
),
best_match AS (
  SELECT * FROM scd2_match WHERE rn = 1
)

/* ---------- LADDNING ---------- */
INSERT INTO [fact].[FTE]
(
  [AnställdsSk],
  [AnstNr],
  [KostnadsStälle],
  [AnställningsForm],
  [Datum],
  [Fte],
  [TillTrädesDatum],
  [TillTrädeTomDatum],
  [Källa],
  [KontraktStartMånad],
  [KontraktsSlutMånad],
  [Sysselsättningsgrad],
  [RapporteradeTimmar],
  [NormalArbetsTid]
)
SELECT 
  CAST(bm.[AnställdSk] AS INT)                   AS [AnställdsSk],
  CAST(H.[ANST_NR] AS INT)                       AS [AnstNr],
  CAST(bm.[Kostnadsställe] AS INT)               AS [KostnadsStälle],
  CAST(bm.[Anställningsform] AS VARCHAR(50))     AS [AnställningsForm],
  CAST(H.[MonthStartDate] AS DATE)               AS [Datum],
  CAST(H.[FTE] AS DECIMAL(18,2))                 AS [Fte],
  CAST(bm.[Tilltrade] AS DATE)                   AS [TillTrädesDatum],
  CAST(bm.[TilltradeTom] AS DATE)                AS [TillTrädeTomDatum],
  CAST(H.[Source] AS VARCHAR(30))                AS [Källa],
  CAST(H.[PeriodStart] AS DATE)                  AS [KontraktStartMånad],
  CAST(H.[PeriodEnd]  AS DATE)                   AS [KontraktsSlutMånad],
  CAST(H.[Sysselsättningsgrad] AS DECIMAL(18,2)) AS [Sysselsättningsgrad],
  CAST(H.[RapporteradeTimmar] AS DECIMAL(18,2))  AS [RapporteradeTimmar],
  CAST(H.[NormalArbetsTid]   AS INT)             AS [NormalArbetsTid]
FROM final_fte H
LEFT JOIN best_match bm 
  ON H.ANST_NR = bm.ANST_NR 
 AND H.MonthStartDate = bm.MonthStartDate
WHERE YEAR(H.MonthStartDate) >= 2024
OPTION (MAXRECURSION 32767);
';

    EXEC [MKBBIDW].sys.sp_executesql @sql;

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(N'LoadFactFTE failed: %s',16,1,@Err);
  END CATCH
END
